stages:
  - test
  - build

test:
  stage: test
  image: registry.qoretechnologies.com/infrastructure/qorus-vscode-test-base/qorus-vscode-test-base:latest
  tags:
    - docker-exec
  script:
    - export DISPLAY=":1"
    - |
        curl "https://api.github.com/repos/qoretechnologies/qorus-vscode/statuses/${CI_COMMIT_SHA}" \
        -X POST -u omusil24:${GITHUB_ACCESS_TOKEN} -H "Content-Type: application/json" \
        -d "{\"state\": \"pending\", \"context\": \"qorus-vscode-ui-test\", \"description\": \"Gitlab CI\", \"target_url\": \"${CI_JOB_URL}\"}"
    - |
        set +e
        Xvfb ${DISPLAY} -screen 0 1920x1080x24 &
        if ./docker-ui-test.sh; then
          curl "https://api.github.com/repos/qoretechnologies/qorus-vscode/statuses/${CI_COMMIT_SHA}" \
            -X POST -u omusil24:${GITHUB_ACCESS_TOKEN} -H "Content-Type: application/json" \
            -d "{\"state\": \"success\", \"context\": \"qorus-vscode-ui-test\", \"description\": \"Gitlab CI\", \"target_url\": \"${CI_JOB_URL}\"}"
          exit 0
        else
          curl "https://api.github.com/repos/qoretechnologies/qorus-vscode/statuses/${CI_COMMIT_SHA}" \
            -X POST -u omusil24:${GITHUB_ACCESS_TOKEN} -H "Content-Type: application/json" \
            -d "{\"state\": \"failure\", \"context\": \"qorus-vscode-ui-test\", \"description\": \"Gitlab CI\", \"target_url\": \"${CI_JOB_URL}\"}"
          exit 1
        fi

package_build:
  stage: build
  image: alpine:latest
  tags:
    - docker-exec
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - qorus-vscode-*.vsix
    when: on_success
    expire_in: 2 day
  script:
    - apk add git nodejs npm
    - npm -g i vsce
    - npm install
    - npm run build
    - vsce package
