.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
test-resources/**
ui-test/**
web/**
.babelrc
.gitignore
.gitlab-ci.yml
.gitmodules
qorusproject.json
tsconfig.json
tslint.json
vsc-extension-quickstart.md
webpack.config.js
