.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
test-resources/**
ui-test/**
web/**
node_modules

.babelrc
.classpath
.gitignore
.gitmodules
.gitlab-ci.yml
.prettierrc
.project
qorusproject.json
server.js
tsconfig.json
tslint.json
vsc-extension-quickstart.md
webpack.config.js
webpack_backend.config.js
docker-ui-test.sh
