{"swagger":"2.0","info":{"version":"v1","title":"billwerk REST API","description":"This document describes the endpoints of the <strong>billwerk REST API</strong>. You can find out more about billwerk <a href='https://billwerk.com/'>here</a>. <br/> <br/>This documentation offers interactive features which will enable you to test how our system behaves. To use the interactive features you have to aquire a bearer token for your active billwerk sandbox account. This procedure is described <a href='/Docs/ApiIntroduction#authentication'>here</a>. OAuth token URL for sandbox is <code>https://sandbox.billwerk.com/oauth/token/</code>, for production <code>https://app.billwerk.com/oauth/token/</code>. Please be aware the URL <strong>does not</strong> include <code>[...]/api/v1/[...]</code>After aquiring the token you must go through the 'Authorize'-Form down below (green button). You're now able to use the interactive features. <br/>Please be aware your sandbox account will be affected trying out the endpoints!</br> </br><strong>This documentation is still work in progress!</strong></br> </br>Return to <a href='https://developer.billwerk.io/'>https://developer.billwerk.io/</a>","contact":{"email":"support@billwerk.com"}},"host":"sandbox.billwerk.com","schemes":["https"],"paths":{"/api/v1/accountingexportfiles/{fileId}/download":{"get":{"tags":["Accounting Export Files"],"summary":"Endpoint for direct download of Accounting Export Files..","operationId":"AccountingExportFiles_GetDirectDownload","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"fileId","in":"path","description":"AccountingExport File Id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/accountingexportfiles/{fileId}/downloadLink":{"post":{"tags":["Accounting Export Files"],"summary":"Creates a file download token for the given Accounting Export File.","operationId":"AccountingExportFiles_CreateDownloadLink","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"fileId","in":"path","description":"AccountingExport File Id","required":true,"type":"string"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/FileDownloadLinkDTO"},"examples":{"application/json":{"Url":"/Files/1vRmbVt13TyAqfLwXGXjxb","Expiry":"2020-03-19T06:45:25.2265344Z"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/AccountingExportFiles/{id}":{"get":{"tags":["Accounting Export Files"],"summary":"Retrieves a Accounting Export File's details by id.","operationId":"AccountingExportFiles_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"AccountingExport Id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountingExportFileReadDTO"},"examples":{"application/json":{"Id":"5e71c38593d5f6141c31b7ce","ExportId":"5e71c38593d5f6141c31b7cf","Version":1,"FileTime":"2020-03-18T07:40:25.2284908+01:00","Status":"Finished","Format":"Datev"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/ContractChanges":{"get":{"tags":["Contracts"],"summary":"Retrieve a list of contract changes","description":"Usage with contractId parameter is recommended.","operationId":"ContractChanges_GetList","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"query","description":"Concatenate to URL to limit search to specific contract","required":false,"type":"string"},{"name":"take","in":"query","description":"Limit returned items (500 max.)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContractChangeDTO"}},"examples":{"application/json":[{"Type":"Upgrade","Timestamp":"2020-03-18T05:45:25.4862645Z","OrderId":"5e71c38593d5f6141c31b7d9","ContractId":"5e71c38593d5f6141c31b7d6","ChangeDate":"2020-04-18T06:45:25.4862645Z","NewPlanVariantId":"5e71c38593d5f6141c31b7d8","NewPlanId":"5e71c38593d5f6141c31b7d7"},{"Type":"Signup","Timestamp":"2020-03-17T06:45:25.4862645Z","OrderId":"5e71c38593d5f6141c31b7db","ContractId":"5e71c38593d5f6141c31b7d6","ChangeDate":"2020-03-18T06:45:25.4862645Z","NewPlanVariantId":"5e71c38593d5f6141c31b7da","NewPlanId":"5e71c38593d5f6141c31b7d7"}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts":{"get":{"tags":["Contracts"],"summary":"Retrieve a list of contracts","operationId":"Contracts_GetList","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"search","in":"query","description":"not used","required":false,"type":"string"},{"name":"from","in":"query","description":"Cursor from where on the items are listed","required":false,"type":"string"},{"name":"skip","in":"query","description":"If you are using pagination, you can skip n items (1000 max.)","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Limit returned items (500 max.)","required":false,"type":"integer","format":"int32"},{"name":"externalSubscriptionId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContractReadDTO"}},"examples":{"application/json":[{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2020-03-18T06:45:25.7841445Z","NextBillingDate":"2020-03-18T06:45:25.7841445Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2020-03-18T06:45:25.7841445Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2020-03-18T06:45:25.7841445Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0.0,"ReferenceCode":"XXXX-YYYY","Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Country":"DE","Last4":"1234","Type":"CreditCard"},"PaymentProvider":"Paymill","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2020-03-18T06:45:25.7841445Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"StartDate":"2020-03-18T06:45:25.7841445Z","EndDate":"2020-03-18T06:45:25.7841445Z","BilledUntil":"2020-03-18T06:45:25.7841445Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"},{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2020-03-18T06:45:25.7841445Z","NextBillingDate":"2020-03-18T06:45:25.7841445Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2020-03-18T06:45:25.7841445Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2020-03-18T06:45:25.7841445Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0.0,"ReferenceCode":"XXXX-ZZZZ","Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Country":"DE","Last4":"1234","Type":"CreditCard"},"PaymentProvider":"Paymill","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2020-03-18T06:45:25.7841445Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"StartDate":"2020-03-18T06:45:25.7841445Z","EndDate":"2020-03-18T06:45:25.7841445Z","BilledUntil":"2020-03-18T06:45:25.7841445Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/annulate":{"post":{"tags":["Contracts"],"summary":"Annul a specific contract","operationId":"Contracts_AnnulateContract","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/bill":{"post":{"tags":["Contracts"],"summary":"Execute interim billing for a specific contract","operationId":"Contracts_PostBill","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/cancellationPreview":{"get":{"tags":["Contracts"],"summary":"Retrieves a cancellation preview for a contract","description":"Retrieves a cancellation preview for a contract for a regular cancellation, considering contract and notice periods of the booked PlanVariant.\r\n            <br></br>\r\n             Property <strong>EndDate</strong> describes the date at which the contract would be cancelled when doing a regular cancellation.\r\n             Property <strong>NextPossibleCancellationDate</strong> describes the date until which the contract can be cancelled using a regular cancellation achieving the next possible end date of the contract while adhering to the contract and notice periods configured.","operationId":"Contracts_GetCancellationPreview","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"cancellationTime","in":"query","description":"Defines when the contract will be cancelled","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CancellationOutputDTO"},"examples":{"application/json":{"NextPossibleCancellationDate":"2020-05-18T06:45:25.6523026Z","EndDate":"2020-05-18T06:45:25.6523026Z","Invoice":{"TotalGross":0.0,"TotalNet":0.0,"TotalVat":0.0,"ReverseCharge":false,"RecipientName":"Marcellus Wallace","RecipientSubName":"","RecipientAddress":{"Street":"Raymond Ave (Holly)","HouseNumber":"145","PostalCode":"91001","City":"Pasadena","Country":"US"},"CustomerId":"5b60696081b1f014908fc5d2","ContractId":"5b60696081b1f014908fc5d0"},"ContractAfter":{"Id":"5b60696081b1f014908fc5d0","LastBillingDate":"2020-02-18T06:45:25.653296Z","NextBillingDate":"2020-04-18T06:45:25.653296Z","PlanId":"5b20d2de81b1f00d14252807","CustomerId":"5b60696081b1f014908fc5d2","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2020-01-18T06:45:25.653296Z","PlanVariantId":"5b503c50ba5c1e1a949c6a67","PlanId":"5b20d2de81b1f00d14252807","Quantity":1,"InheritStartDate":false},{"Type":"Inactive","StartDate":"2020-05-18T06:45:25.6542651Z","InheritStartDate":false}],"Balance":123.0,"ReferenceCode":"TBKG-STDJ","Currency":"EUR","PlanGroupId":"5b20d2ddba5c1e10d05c5830","PaymentProvider":"InvoicePayment","PaymentProviderRole":"BlackLabel","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2020-01-18T06:45:25.6542651Z","PlanVariantId":"5b503c50ba5c1e1a949c6a67","PlanId":"5b20d2de81b1f00d14252807","Quantity":1,"InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"StartDate":"2020-01-18T06:45:25.6542651Z","EndDate":"2020-05-18T06:45:25.6542651Z","BilledUntil":"2020-04-18T06:45:25.6542651Z","PlanVariantId":"5b503c50ba5c1e1a949c6a67"}}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/componentSubscriptions":{"get":{"tags":["Contracts"],"summary":"Retrieves current subscriptions in the selected contract","operationId":"ComponentSubscriptions_GetComponentSubscriptionsByContract","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComponentSubscriptionReadDTO"},"examples":{"application/json":[{"Id":"599d51f881b1f00a28f7aea3","ContractId":"599d51f881b1f00a28f7aea4","CustomerId":"599d51f881b1f00a28f7aea5","ComponentId":"599d51f881b1f00a28f7aea6","Quantity":42.0,"StartDate":"2020-03-18T06:45:25.4471923Z","BilledUntil":"2020-03-18T06:45:25.4471923Z","Memo":"MemoExample"},{"Id":"599d51f881b1f00a28f7aea7","ContractId":"599d51f881b1f00a28f7aea8","CustomerId":"599d51f881b1f00a28f7aea9","ComponentId":"599d51f881b1f00a28f7aea0","Quantity":23.0,"StartDate":"2020-03-18T06:45:25.4471923Z","BilledUntil":"2020-03-18T06:45:25.4471923Z","Memo":"MemoExample"}]}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]},"post":{"tags":["Contracts"],"summary":"Create a new component subscription for this contract","operationId":"ComponentSubscriptions_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"dto","in":"body","description":"ComponentSubscription object","required":true,"schema":{"$ref":"#/definitions/ComponentSubscriptionCreateDTO"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ComponentSubscriptionReadDTO"},"examples":{"application/json":{"Id":"599d51f881b1f00a28f7aea3","ContractId":"599d51f881b1f00a28f7aea4","CustomerId":"599d51f881b1f00a28f7aea5","ComponentId":"599d51f881b1f00a28f7aea6","Quantity":42.0,"StartDate":"2020-03-18T06:45:25.448183Z","BilledUntil":"2020-03-18T06:45:25.448183Z","Memo":"MemoExample"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/customFields":{"put":{"tags":["Contracts"],"summary":"Set a new list of custom fields in the contract and replace/remove existing ones","operationId":"Contracts_PutCustomFields","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"customFieldsDto","in":"body","description":"CustomFields object","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}},"examples":{"application/json":{"MyCustomField1":"MyValue1","MyCustomField2":"MyValue2"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]},"patch":{"tags":["Contracts"],"summary":"Change/set values of specific custom fields while leaving others untouched","operationId":"Contracts_PatchCustomFields","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"customFieldsDto","in":"body","description":"CustomFields object","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}},"examples":{"application/json":{"MyCustomField1":"MyValue1","MyCustomField2":"MyChangedValue2","MyCustomField3":"MyChangedValue3"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/discountSubscriptions":{"get":{"tags":["Contracts"],"summary":"Retrieves current discount subscriptions for this contract","operationId":"DiscountSubscriptions_GetByContract","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DiscountSubscriptionReadDTO"}},"examples":{"application/json":[{"Id":"5e71c38593d5f6141c31b7e7","ContractId":"5e71c38593d5f6141c31b7e8","CouponCode":"randomCouponCode","CouponId":"5e71c38593d5f6141c31b7ea","StartDate":"2020-03-18T06:45:25.992166Z","DiscountId":"5e71c38593d5f6141c31b7e9","EndDate":"2020-04-18T06:45:25.992166Z"},{"Id":"5e71c38593d5f6141c31b7eb","ContractId":"5e71c38593d5f6141c31b7ec","StartDate":"2020-03-18T06:45:25.992166Z","DiscountId":"5e71c38593d5f6141c31b7ed"}]}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/end":{"post":{"tags":["Contracts"],"summary":"Set an end date for this contract","operationId":"Contracts_PostContractEnd","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"dto","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/ContractEndDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CancellationOutputDTO"},"examples":{"application/json":{"NextPossibleCancellationDate":"2020-05-18T06:45:25.6689097Z","EndDate":"2020-05-18T06:45:25.6689097Z","Invoice":{"TotalGross":0.0,"TotalNet":0.0,"TotalVat":0.0,"ReverseCharge":false,"RecipientName":"Marcellus Wallace","RecipientSubName":"","RecipientAddress":{"Street":"Raymond Ave (Holly)","HouseNumber":"145","PostalCode":"91001","City":"Pasadena","Country":"US"},"CustomerId":"5b60696081b1f014908fc5d2","ContractId":"5b60696081b1f014908fc5d0"},"ContractAfter":{"Id":"5b60696081b1f014908fc5d0","LastBillingDate":"2020-02-18T06:45:25.6689097Z","NextBillingDate":"2020-04-18T06:45:25.6689097Z","PlanId":"5b20d2de81b1f00d14252807","CustomerId":"5b60696081b1f014908fc5d2","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2020-01-18T06:45:25.6689097Z","PlanVariantId":"5b503c50ba5c1e1a949c6a67","PlanId":"5b20d2de81b1f00d14252807","Quantity":1,"InheritStartDate":false},{"Type":"Inactive","StartDate":"2020-05-18T06:45:25.6689097Z","InheritStartDate":false}],"Balance":123.0,"ReferenceCode":"TBKG-STDJ","Currency":"EUR","PlanGroupId":"5b20d2ddba5c1e10d05c5830","PaymentProvider":"InvoicePayment","PaymentProviderRole":"BlackLabel","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2020-01-18T06:45:25.6689097Z","PlanVariantId":"5b503c50ba5c1e1a949c6a67","PlanId":"5b20d2de81b1f00d14252807","Quantity":1,"InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"StartDate":"2020-01-18T06:45:25.6689097Z","EndDate":"2020-05-18T06:45:25.6689097Z","BilledUntil":"2020-04-18T06:45:25.6689097Z","PlanVariantId":"5b503c50ba5c1e1a949c6a67"}}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/payment":{"post":{"tags":["Contracts"],"summary":"Capture an external payment/refund for a specific contract","operationId":"Contracts_PostContractPayment","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"paymentDto","in":"body","description":"ContractPaymentDTO","required":true,"schema":{"$ref":"#/definitions/ContractPaymentDTO"}}],"responses":{"200":{"description":"OK","examples":{"application/json":{"Amount":5.0,"Currency":"EUR","Description":"External Payment (positive amount property) Or Refund (negative amount property)","RecurringPaymentsOff":false,"BookingDate":"Wednesday, 18 March 2020"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/ratedItems":{"post":{"tags":["Contracts"],"summary":"Create a Rated Item for this contract","operationId":"RatedItems_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"dto","in":"body","description":"Rated Item","required":true,"schema":{"$ref":"#/definitions/RatedItemCreateDTO"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/RatedItemDTO"},"examples":{"application/json":{"Id":"5afbdc8664e06d4afc30b8e5","Description":"I'm a RatedItem","Quantity":1.0,"PricePerUnit":300.0,"TaxPolicyId":"5a32417d64e06b4fa00f80dc","PeriodStart":"2020-03-18T06:45:25.6259803Z","PeriodEnd":"2020-04-18T06:45:25.6259803Z","TransferredAt":"2020-03-18T06:45:25.6259803Z"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/selfServiceToken":{"get":{"tags":["Contracts"],"summary":"Retrieve a short-lived selfservice access token","description":"The token can be used by your customers to change their account and payment information for the given contract.\r\nRetrieve the token immediately before redirecting the customer.","operationId":"Contracts_GetSelfServiceToken","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"tokenValidity","in":"query","description":"Token validity, limited up to 10080 minutes (or 7 days)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelfServiceTokenDTO"},"examples":{"application/json":{"Expiry":"2020-03-18T06:45:25.6757644Z","Token":"ExampleToken","Purpose":"ExamplePurpose","Url":"ExampleURL"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/usage":{"get":{"tags":["Contracts"],"summary":"Retrieves a contract's associated usage","operationId":"ComponentUsage_GetUsageByContract","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"from","in":"query","description":"Date from where on the items are listed","required":false,"type":"string","format":"date-time"},{"name":"until","in":"query","description":"Date until the items are listed","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MeteredUsageReadDTO"}},"examples":{"application/json":[{"Id":"599d51f881b1f00a28f7aea2","ContractId":"599d51f881b1f00a28f7aea3","TransferredAt":"2020-03-18T06:45:25.4686692Z","BilledOn":"2020-03-18T06:45:25.4686692Z","ComponentId":"599d51f881b1f00a28f7aea4","Quantity":42.0,"Memo":"memoExample","DueDate":"2020-03-18T06:45:25.4686692Z"},{"Id":"599d51f881b1f00a28f7aea2","ContractId":"599d51f881b1f00a28f7aea3","TransferredAt":"2020-03-18T06:45:25.4686692Z","BilledOn":"2020-03-18T06:45:25.4686692Z","ComponentId":"599d51f881b1f00a28f7aea4","Quantity":42.0,"Memo":"memoExample","DueDate":"2020-03-18T06:45:25.4686692Z"}]}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]},"post":{"tags":["Contracts"],"summary":"Posts new metered usage data","operationId":"Test3_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"query","description":"Contract ID","required":true,"type":"string"},{"name":"dto","in":"body","description":"MeteredUsage object","required":true,"schema":{"$ref":"#/definitions/MeteredUsageDTO"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/MeteredUsageReadDTO"},"examples":{"application/json":{"TransferredAt":"0001-01-01T00:00:00","ComponentId":"599d51f881b1f00a28f7aea4","Quantity":42.0,"Memo":"memoExample","DueDate":"2020-03-18T06:45:26.7905257Z"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{contractId}/usage/{usageId}":{"delete":{"tags":["Contracts"],"summary":"Remove an unbilled metered usage","description":"As long as the usage hasn't been billed yet, you can simply DELETE it. Otherwise, the process becomes ill-defined, especially in light of free quota. You can deduct the overbilled amount in the following month or write a credit note manually.","operationId":"ComponentUsage_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"contractId","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"usageId","in":"path","description":"Metered Usage ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"NoContent"},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{id}":{"get":{"tags":["Contracts"],"summary":"Retrieves a single contract by id","operationId":"Test_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Contract ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContractReadDTO"},"examples":{"application/json":{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2020-03-18T06:45:26.7758724Z","NextBillingDate":"2020-03-18T06:45:26.7758724Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2020-03-18T06:45:26.7758724Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2020-03-18T06:45:26.7758724Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0.0,"Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Country":"DE","Last4":"1234","Type":"CreditCard"},"PaymentProvider":"Paymill","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2020-03-18T06:45:26.7758724Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"StartDate":"2020-03-18T06:45:26.7758724Z","EndDate":"2020-03-18T06:45:26.7758724Z","BilledUntil":"2020-03-18T06:45:26.7758724Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{id}/PreviewNextRecurring":{"get":{"tags":["Contracts"],"summary":"Retrieve the expected amount of the next billing / invoice","operationId":"Contracts_GetNextRecurringInfos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"ignoreZeroTotals","in":"query","description":"Flag to ignore 0 totals","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NextRecurringInfosDTO"},"examples":{"application/json":{"BillingDate":"2020-04-18T06:45:25.5272863Z","TotalNet":25.0,"TotalVat":4.75,"TotalGross":29.75,"Currency":"EUR","AmountPayable":29.75}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Contracts/{id}/subscriptions":{"get":{"tags":["Contracts"],"summary":"Retrieves all currently active subscriptions including plan variant, component subscriptions and discount subscriptions","operationId":"Contracts_GetSubscriptions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Contract ID","required":true,"type":"string"},{"name":"timestamp","in":"query","description":"This parameter is optional. By default the request will return currently active subscriptions. When passing the timestamp parameter the response will contain active subscription at the specified time.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContractSubscriptionsDTO"},"examples":{"application/json":{"Id":"5e71c38593d5f6141c31b7dc","Phase":{"Type":"Normal","StartDate":"2019-09-18T06:45:25.5097281Z","PlanVariantId":"5b20d2df81b1f00d1425280f","PlanId":"5b20d2deba5c1e13409b15f2","Quantity":1,"InheritStartDate":false},"ComponentSubscriptions":[{"Id":"599d51f881b1f00a28f7ae9n","ContractId":"599d51f881b1f00a28f7ae14","CustomerId":"599d51f881b1f00a28f7asdf","ComponentId":"599d51f881b1f00a28f7ae10","Quantity":1.0,"StartDate":"2020-02-18T06:45:25.5087664Z","BilledUntil":"2020-04-18T06:45:25.5087664Z","EndDate":"2020-09-18T06:45:25.5087664Z","Memo":"Memoexample"},{"Id":"599d51f881b1f00a28f7ae8n","ContractId":"599d51f881b1f00a28f7ae14","CustomerId":"599d51f881b1f00a28f7asdf","ComponentId":"599d51f881b1f00a28f7ae11","StartDate":"2020-02-18T06:45:25.5087664Z","BilledUntil":"2020-04-18T06:45:25.5087664Z","EndDate":"2020-09-18T06:45:25.5087664Z","Memo":"Memoexample"}],"DiscountSubscriptions":[{"Id":"599d51f881b1f00a28f7ae2m","ContractId":"599d51f881b1f00a28f7ae14","CouponCode":"50off","CouponId":"599d51f881b1f00a28f7ae16","StartDate":"2020-03-18T06:45:25.5097281Z","DiscountId":"599d51f881b1f00a28f7ae18","EndDate":"2020-09-18T06:45:25.5097281Z"},{"Id":"599d51f881b1f00a28f7ae2o","ContractId":"599d51f881b1f00a28f7ae14","CouponCode":"starter","CouponId":"599d51f881b1f00a28f7ae17","StartDate":"2020-03-18T06:45:25.5097281Z","DiscountId":"599d51f881b1f00a28f7ae20","EndDate":"2020-04-18T06:45:25.5097281Z"}]}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Customers":{"get":{"tags":["Customers"],"summary":"Retrieve a list of all customers","operationId":"Customers_GetList","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"search","in":"query","description":"Search customers by External Id, First Name, Last Name, Company Name, Email Address and Debitor Account","required":false,"type":"string"},{"name":"statusFilter","in":"query","description":"filter by status","required":false,"type":"string","enum":["Normal","Unconfirmed","Deleted"]},{"name":"externalId","in":"query","description":"Search for a customer by External Id","required":false,"type":"string"},{"name":"from","in":"query","description":"Cursor from where on the items are listed","required":false,"type":"string"},{"name":"skip","in":"query","description":"If you are using pagination, you can skip n items (1000 max.)","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Limit returned items (500 max.)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerReadDTO"}},"examples":{"application/json":[{"Id":"5996a94681b200088ca84f1a","CreatedAt":"2020-03-18T06:45:25.8486087Z","IsDeletable":false,"DeletedAt":"0001-01-01T00:00:00Z","IsLocked":false,"CustomerName":"Wallace, Marcellus","CustomerSubName":"","FirstName":"Marcellus","LastName":"Wallace","Language":"en-US","EmailAddress":"marcellus@example.org","Address":{"Street":"Raymond Ave (Holly)","HouseNumber":"145","PostalCode":"91001","City":"Pasadena","Country":"CA"},"Locale":"en-US","CustomFields":{"CustomFieldName":"CustomFieldValue","Name":"Value"},"DefaultBearerMedium":"Email","CustomerType":"Consumer","Hidden":false},{"Id":"5996a94681b200088ca84f1a","CreatedAt":"2020-03-18T06:45:25.8486087Z","IsDeletable":false,"DeletedAt":"0001-01-01T00:00:00Z","IsLocked":false,"CustomerName":"Vega, Vincent","CustomerSubName":"","FirstName":"Vincent","LastName":"Vega","Language":"en-US","EmailAddress":"vincent@example.org","Address":{"Street":"Raymond Ave (Holly)","HouseNumber":"146","PostalCode":"91001","City":"Pasadena","Country":"CA"},"Locale":"en-US","DefaultBearerMedium":"Email","CustomerType":"Consumer","Hidden":false}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]},"post":{"tags":["Customers"],"summary":"Create a new customer.","description":"If you only want to create a customer upon successful signup order please use POST /Orders instead.","operationId":"Customers_PostGeneric","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerDto","in":"body","required":true,"schema":{"$ref":"#/definitions/CustomerDTO"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/CustomerReadDTO"},"examples":{"application/json":{"Id":"5996a94681b200088ca84f1a","CreatedAt":"2020-03-18T06:45:25.8495899Z","IsDeletable":false,"DeletedAt":"0001-01-01T00:00:00Z","IsLocked":false,"CustomerName":"Wallace, Marcellus","CustomerSubName":"","FirstName":"Marcellus","LastName":"Wallace","Language":"en-US","EmailAddress":"marcellus@example.org","Address":{"Street":"Raymond Ave (Holly)","HouseNumber":"145","PostalCode":"91001","City":"Pasadena","Country":"CA"},"Locale":"en-US","CustomFields":{"CustomFieldName":"CustomFieldValue","Name":"Value"},"DefaultBearerMedium":"Email","CustomerType":"Consumer","Hidden":false}}},"401":{"description":"Unauthorized"},"409":{"description":"Conflict"}},"security":[{"BearerAuth":[]}]}},"/api/v1/customers/{customerId}/contracts":{"get":{"tags":["Customers"],"summary":"Retrieves a list of all contracts for the given customer id","operationId":"Contracts_GetContractsByCustomer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"Customer ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContractReadDTO"}},"examples":{"application/json":[{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2020-03-18T06:45:25.7656043Z","NextBillingDate":"2020-03-18T06:45:25.7656043Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2020-03-18T06:45:25.7656043Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2020-03-18T06:45:25.7656043Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0.0,"ReferenceCode":"XXXX-YYYY","Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Country":"DE","Last4":"1234","Type":"CreditCard"},"PaymentProvider":"Paymill","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2020-03-18T06:45:25.7656043Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"StartDate":"2020-03-18T06:45:25.7656043Z","EndDate":"2020-03-18T06:45:25.7656043Z","BilledUntil":"2020-03-18T06:45:25.7656043Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"},{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2020-03-18T06:45:25.7656043Z","NextBillingDate":"2020-03-18T06:45:25.7656043Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2020-03-18T06:45:25.7656043Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2020-03-18T06:45:25.7656043Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0.0,"ReferenceCode":"XXXX-ZZZZ","Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Country":"DE","Last4":"1234","Type":"CreditCard"},"PaymentProvider":"Paymill","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2020-03-18T06:45:25.7656043Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"StartDate":"2020-03-18T06:45:25.7656043Z","EndDate":"2020-03-18T06:45:25.7656043Z","BilledUntil":"2020-03-18T06:45:25.7656043Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"}]}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Customers/{id}":{"get":{"tags":["Customers"],"summary":"Retrieve a single customer","operationId":"Customers_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Customer ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerReadDTO"},"examples":{"application/json":{"Id":"5996a94681b200088ca84f1a","CreatedAt":"2020-03-18T06:45:25.8447057Z","IsDeletable":false,"DeletedAt":"0001-01-01T00:00:00Z","IsLocked":false,"CustomerName":"Wallace, Marcellus","CustomerSubName":"","FirstName":"Marcellus","LastName":"Wallace","Language":"en-US","EmailAddress":"marcellus@example.org","Address":{"Street":"Raymond Ave (Holly)","HouseNumber":"145","PostalCode":"91001","City":"Pasadena","Country":"CA"},"Locale":"en-US","CustomFields":{"CustomFieldName":"CustomFieldValue","Name":"Value"},"DefaultBearerMedium":"Email","CustomerType":"Consumer","Hidden":false}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]},"put":{"tags":["Customers"],"summary":"Replaces a customer's data","operationId":"Customers_PutItem","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Customer ID","required":true,"type":"string"},{"name":"customerDto","in":"body","description":"Customer object","required":true,"schema":{"$ref":"#/definitions/CustomerDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerReadDTO"},"examples":{"application/json":{"Id":"5996a94681b200088ca84f1a","CreatedAt":"2020-03-18T06:45:25.8466484Z","IsDeletable":false,"DeletedAt":"0001-01-01T00:00:00Z","IsLocked":false,"CustomerName":"Wallace, Marcellus","CustomerSubName":"","FirstName":"Marcellus","LastName":"Wallace","Language":"en-US","EmailAddress":"marcellus@example.org","Address":{"Street":"Raymond Ave (Holly)","HouseNumber":"145","PostalCode":"91001","City":"Pasadena","Country":"CA"},"Locale":"en-US","CustomFields":{"CustomFieldName":"CustomFieldValue","Name":"Value"},"DefaultBearerMedium":"Email","CustomerType":"Consumer","Hidden":false}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"409":{"description":"Conflict"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["Customers"],"summary":"Deletes a customer","operationId":"Customers_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Customer ID","required":true,"type":"string"}],"responses":{"204":{"description":"NoContent"},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]},"patch":{"tags":["Customers"],"summary":"Updates parts of a customer","operationId":"Customers_Patch","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Customer ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerReadDTO"},"examples":{"application/json":{"Id":"5996a94681b200088ca84f1a","CreatedAt":"2020-03-18T06:45:25.8456786Z","IsDeletable":false,"DeletedAt":"0001-01-01T00:00:00Z","IsLocked":false,"CustomerName":"Wallace, Marcellus","CustomerSubName":"","FirstName":"Marcellus","LastName":"Wallace","Language":"en-US","EmailAddress":"marcellus@example.org","Address":{"Street":"Raymond Ave (Holly)","HouseNumber":"145","PostalCode":"91001","City":"Pasadena","Country":"CA"},"Locale":"en-US","CustomFields":{"CustomFieldName":"CustomFieldValue","Name":"Value"},"DefaultBearerMedium":"Email","CustomerType":"Consumer","Hidden":false}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"409":{"description":"Conflict"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Discounts/{id}":{"get":{"tags":["Discounts"],"summary":"Retrieve a single discount by ID","description":"<strong>DO NOT USE</strong> IsDeletable property, this will be subject to changes","operationId":"Discounts_GetItem","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Discount ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DiscountReadDTO"},"examples":{"application/json":{"Id":"5e71c38593d5f6141c31b7e3","PlanGroupId":"5e71c38593d5f6141c31b7e4","InternalName":"Starter discount","Description":{"_c":"Starter discount"},"Duration":{"Unit":"Month","Quantity":3},"Effect":{"Type":"Relative","ReductionPercent":30.0},"Targets":{"5e71c38593d5f6141c31b7e5":true,"5e71c38593d5f6141c31b7e6":true},"IncludeSetup":false,"CreateSeparateLineItem":true,"Notes":"I'm a discount note","Hidden":false,"IsDeletable":false}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/InvoiceDrafts":{"get":{"tags":["InvoiceDrafts"],"summary":"Retrieves a list of all invoice drafts","operationId":"InvoiceDrafts_GetList","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerId","in":"query","description":"Customer ID, optional","required":false,"type":"string"},{"name":"contractId","in":"query","description":"Contract ID, optional","required":false,"type":"string"},{"name":"search","in":"query","description":"Search invoices by the customers name, optional","required":false,"type":"string"},{"name":"from","in":"query","description":"Cursor from where on the items are listed, optional","required":false,"type":"string"},{"name":"skip","in":"query","description":"If you are using pagination, you can skip n items (1000 max.), optional","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Limit returned items (500 max.), optional","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceDraftListDTO"}},"examples":{"application/json":[{"ReverseCharge":false,"DeliveryPeriodStart":"0001-01-01T00:00:00","DeliveryPeriodEnd":"0001-01-01T00:00:00","PriceTaxType":"Net","Id":"5996aab281b1ef07d8eb533a","RecipientName":"Marcellus Wallace","RecipientSubName":"","Created":"2020-03-18T06:45:26.1581666Z","Currency":"EUR","TotalGross":29.75,"TotalNet":25.0,"TotalVat":4.75,"CustomerId":"5996aab281b1ef07d8eb533b","ContractId":"5996aab281b1ef07d8eb533c","IsInvoice":true,"CustomerIsLocked":false},{"ReverseCharge":false,"DeliveryPeriodStart":"0001-01-01T00:00:00","DeliveryPeriodEnd":"0001-01-01T00:00:00","PriceTaxType":"Net","Id":"5996aab281b1ef07d8eb533a","RecipientName":"Vincent Vega","RecipientSubName":"","Created":"2020-03-18T06:45:26.1581666Z","Currency":"EUR","TotalGross":11.9,"TotalNet":10.0,"TotalVat":1.9,"CustomerId":"5996aab281b1ef07d8eb533b","ContractId":"5996aab281b1ef07d8eb533c","IsInvoice":true,"CustomerIsLocked":false}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/InvoiceDrafts/{id}":{"get":{"tags":["InvoiceDrafts"],"summary":"Retrieves a draft by id","operationId":"InvoiceDrafts_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Invoice Draft ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceDraftDTO"},"examples":{"application/json":{"RecipientAddress":{"Street":"Raymond Ave (Holly)","HouseNumber":"145","PostalCode":"91001","City":"Pasadena","Country":"CA"},"Language":"US","ReverseCharge":false,"DeliveryPeriodStart":"2020-03-18T06:45:26.1567208Z","DeliveryPeriodEnd":"9999-12-31T22:59:59.9999999Z","Prologue":"Dear Sirs,\\r\\nthank you for your order. Please find the invoice attached","Epilogue":"Thank you for choosing billwerk","ItemList":[{"Description":"My Product - Basic","Quantity":1.0,"PricePerUnit":25.0,"VatPercentage":19.0,"PeriodStart":"2020-03-18T06:45:26.1567208Z","PeriodEnd":"9999-12-31T22:59:59.9999999Z","PeriodMultiplier":1.0,"ScaleAmount":1.0,"ProductId":"5996a94581b200088ca84f0d","TotalNet":25.0,"TotalVat":4.75,"TotalGross":29.75,"ProductDescription":"Includes basic functions, monthly payment and monthly duration"}],"VatDescriptors":[{"VatPercentage":19.0,"TotalNet":25.0,"TotalVat":4.75,"TotalGross":29.75}],"PriceTaxType":"Net","Id":"5996aad781b1ef07d8eb5367","RecipientName":"Marcellus Wallace","RecipientSubName":"","Created":"2020-03-18T06:45:26.1567208Z","Currency":"EUR","TotalGross":29.75,"TotalNet":25.0,"TotalVat":4.75,"CustomerId":"5996aad781b1ef07d8eb5368","ContractId":"5996aad781b1ef07d8eb5369","IsInvoice":true,"CustomerIsLocked":false}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]},"post":{"tags":["InvoiceDrafts"],"summary":"Sends the given invoice draft id, thus converting it to an invoice. Returns the newly created invoice.","operationId":"InvoiceDrafts_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"InvoiceDraft ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceDetailDTO"},"examples":{"application/json":{"SenderName":"Sandbox","SenderAddress":{"Country":"DE"},"CustomerIsLocked":false,"ItemList":[{"Description":"My Product - Basic","Quantity":1.0,"PricePerUnit":25.0,"VatPercentage":19.0,"PeriodStart":"2020-03-18T06:45:26.1532952Z","PeriodEnd":"9999-12-31T22:59:59.9999999Z","PeriodMultiplier":1.0,"ScaleAmount":1.0,"ProductId":"5996a94581b200088ca84f0d","TotalNet":25.0,"TotalVat":4.75,"TotalGross":29.75,"ProductDescription":"Includes basic functions, monthly payment and monthly duration"}],"Prologue":"Dear Sirs,\\r\\nthank you for your order. Please find the invoice attached","Epilogue":"Thank you for choosing billwerk","DeliveryPeriodStart":"2020-03-18T06:45:26.1532952Z","DeliveryPeriodEnd":"9999-12-31T22:59:59.9999999Z","VatDescriptors":[{"VatPercentage":19.0,"TotalNet":25.0,"TotalVat":4.75,"TotalGross":29.75}],"ReverseCharge":false,"PriceTaxType":"Net","Id":"5996aad781b1ef07d8eb5367","InvoiceNumber":"5996aad781b1ef07d8eb5368","CustomerId":"5996aad781b1ef07d8eb5369","ContractId":"5996aad781b1ef07d8eb5360","SentAt":"2020-03-18T06:45:26.1532952Z","DueDate":"2020-03-18T06:45:26.1532952Z","Created":"0001-01-01T00:00:00","RecipientName":"Marcellus Wallace","RecipientSubName":"","RecipientAddress":{"Street":"Raymond Ave (Holly)","HouseNumber":"145","PostalCode":"91001","City":"Pasadena","Country":"CA"},"Currency":"EUR","TotalNet":25.0,"TotalVat":4.75,"TotalGross":29.75,"IsInvoice":true,"DocumentDate":"Monday, 01 January 0001"}}},"401":{"description":"Unauthorized"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Invoices":{"get":{"tags":["Invoices"],"summary":"Retrieves a list of all invoices / credit notes","operationId":"Invoices_GetList","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerId","in":"query","description":"Customer ID, optional","required":false,"type":"string"},{"name":"search","in":"query","description":"Search parameter can contain the recipient's Last Name, First Name, Company Name, or Document Number, optional","required":false,"type":"string"},{"name":"dateFrom","in":"query","description":"Searches documents with creation date equal or younger specified timestamp, optional","required":false,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","description":"Searches documents with creation date equal or older than specified timestamp, optional","required":false,"type":"string","format":"date-time"},{"name":"from","in":"query","description":"cursor from where on the items are listed, optional","required":false,"type":"string"},{"name":"skip","in":"query","description":"If you are using pagination, you can skip n items (1000 max.), optional","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Limit returned items (500 max.), optional","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceListDTO"}},"examples":{"application/json":[{"Id":"59a7df8481b1f01090e6ab6a","InvoiceNumber":"59a7df8481b1f01090e6ab6b","CustomerId":"59a7df8481b1f01090e6ab6c","ContractId":"59a7df8481b1f01090e6ab6d","SentAt":"2020-03-18T06:45:26.178197Z","DueDate":"2020-03-18T06:45:26.178197Z","Created":"2020-03-18T06:45:26.178197Z","RecipientName":"Marcellus Wallace","RecipientSubName":"","RecipientAddress":{"Street":"Raymond Ave (Holly)","HouseNumber":"145","PostalCode":"91001","City":"Pasadena","Country":"CA"},"Currency":"EUR","TotalNet":25.0,"TotalVat":4.75,"TotalGross":29.75,"IsInvoice":true,"DocumentDate":"Monday, 01 January 0001"},{"Id":"59a7df8481b1f01090e6ab6e","InvoiceNumber":"59a7df8481b1f01090e6ab6f","CustomerId":"59a7df8481b1f01090e6ab6g","ContractId":"59a7df8481b1f01090e6ab6h","SentAt":"2020-03-18T06:45:26.178197Z","DueDate":"2020-03-18T06:45:26.178197Z","Created":"2020-03-18T06:45:26.178197Z","RecipientName":"Vincent Vega","RecipientSubName":"","RecipientAddress":{"Street":"Raymond Ave (Holly)","HouseNumber":"146","PostalCode":"91001","City":"Pasadena","Country":"CA"},"Currency":"EUR","TotalNet":10.0,"TotalVat":1.9,"TotalGross":11.9,"IsInvoice":true,"DocumentDate":"Monday, 01 January 0001"}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Invoices/{id}/download":{"get":{"tags":["Invoices"],"summary":"Rest endpoint for direct download of invoice PDFs","operationId":"Invoices_GetDirectDownload","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Invoice Id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Invoices/{id}/downloadlink":{"post":{"tags":["Invoices"],"summary":"Creates a file download token for the given invoice.","description":"The file can subsequenlty be downloaded through the given URL.\r\nPlease note that that URL is not under /api/v1 and doesn't need an OAuth token, i.e. you can present these links to your users.\r\nConsequently, the links have limited validity.","operationId":"Invoices_CreateDownloadLink","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Invoice ID","required":true,"type":"string"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/FileDownloadLinkDTO"},"examples":{"application/json":{"Url":"/Files/1vRmbVt13TyAqfLwXGXjxb","Expiry":"2020-03-19T06:45:26.1591532Z"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Orders":{"get":{"tags":["Orders"],"summary":"Retrieve a list of orders","operationId":"Orders_GetList","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"search","in":"query","description":"Search orders by First Name, Last Name, Company Name, Email Address, Customer Id, and Debitor Account","required":false,"type":"string"},{"name":"from","in":"query","description":"Cursor from where on the orders are listed","required":false,"type":"string"},{"name":"dateFrom","in":"query","description":"Searches orders with creation date equal or younger specified timestamp","required":false,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","description":"Searches orders with creation date equal or older than specified timestamp","required":false,"type":"string","format":"date-time"},{"name":"status","in":"query","description":"Searches orders with given OrderStatus","required":false,"type":"string","enum":["InProgress","PaymentPending","Aborted","Completed","Failed","Expired","ApprovalPending","Approved","Declined","Incomplete"]},{"name":"type","in":"query","description":"Searches orders with given OrderType","required":false,"type":"string","enum":["Signup","Upgrade"]},{"name":"skip","in":"query","description":"If you are using pagination, you can skip n items (1000 max.)","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Limit returned items (500 max.)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/OrderReadDTO"}}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]},"post":{"tags":["Orders"],"summary":"Create a new plan/component subscription or up/downgrade order.","description":"Please note, orders might have a limited lifetime. For simple signup/subscription implementation\r\n            we recommend using SubscriptionJS rather than API, unless you have strong reasons.\r\n            <br /><br />\r\n            CustomerChange does <strong>NOT</strong> work on Signups. The JSON must resemble a CustomerDTO.","operationId":"Test_PostOrderTest","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"orderDto","in":"body","description":"OrderDTO","required":true,"schema":{"$ref":"#/definitions/OrderDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/OrderReadDTO"}},"401":{"description":"Unauthorized"},"500":{"description":"InternalServerError"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Orders/{id}":{"get":{"tags":["Orders"],"summary":"Retrieve a single order","operationId":"Test3_GetOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Order Id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderReadDTO"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Orders/{id}/approve":{"post":{"tags":["Orders"],"summary":"[FEATURE] Approve an order","description":"<strong>This is an feature discriminated endpoint. Make sure your account has this feature enabled or contact <a href=\"mailto:support@billwerk.com\">support</a>.</strong>","operationId":"Orders_Approve","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContractReadDTO"},"examples":{"application/json":{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2020-03-18T06:45:26.5112069Z","NextBillingDate":"2020-03-18T06:45:26.5112069Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2020-03-18T06:45:26.5112069Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2020-03-18T06:45:26.5112069Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0.0,"Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Country":"DE","Last4":"1234","Type":"CreditCard"},"PaymentProvider":"Paymill","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2020-03-18T06:45:26.5112069Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"StartDate":"2020-03-18T06:45:26.5112069Z","EndDate":"2020-03-18T06:45:26.5112069Z","BilledUntil":"2020-03-18T06:45:26.5112069Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"}}},"401":{"description":"Unauthorized"},"422":{"description":"Order failed"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Orders/{id}/commit":{"post":{"tags":["Orders"],"summary":"Process and finalize an order","description":" Finalizing an initial signup order usually includes an interactive payment processed on client side by the customer. When using this API endpoint rather than SubscriptionJS no customer interaction is involved.\r\n For this reason the endpoint can only be used for payment on account or if no payment method is required. For interactive payment please use paySignupInteractive() from SubscriptionJS instead.\r\n Committing signup order without payment method must be activated in plan variant settings!\r\n  When finalizing orders for an existing contract payment is done asynchronously from the order process with the currently active payment method. In contrast to upgradePaySync() in SubscriptionJS the\r\n  order is finished successful independent from a successful payment. If you don't want this behaviour please use upgradePaySync() from SubscriptionJS.\r\n \r\n Committing an order might trigger a billing process. Potential credits from the old plan and receivables from the new plan will be applied to the ledger. An invoice will be created. If a plan up-/downgrade is \r\n involved the billing and fee periods will be based upon update time. If an order is scheduled for a future date the billing process might not be triggered with the commit. This depends on several conditions.\r\n <br></br><strong>To use possibly existing payment data just commit an empty payload -&gt; {}!</strong><br></br>\r\n Allowed PaymentMethods are:\r\n <strong>\r\n\"Debit:Paymill\", \r\n\"Debit:PayOne\",\r\n\"Debit:Wirecard\",\r\n\"Debit:Heidelpay\",\r\n\"Debit:SlimPay\",\r\n\"Debit:Stripe\",\r\n\"Debit:FakePSP\", \r\n\"OnAccount:PayOne\",\r\n\"BlackLabel:InvoicePayment\",\r\n\"None:None\"</strong>","operationId":"Orders_PostCommitOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"type":"string"},{"name":"orderCommitDto","in":"body","description":"Order object","required":true,"schema":{"$ref":"#/definitions/OrderCommitDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContractReadDTO"},"examples":{"application/json":{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2020-03-18T06:45:26.5102157Z","NextBillingDate":"2020-03-18T06:45:26.5102157Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2020-03-18T06:45:26.5102157Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2020-03-18T06:45:26.5102157Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0.0,"Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Country":"DE","Last4":"1234","Type":"CreditCard"},"PaymentProvider":"Paymill","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2020-03-18T06:45:26.5102157Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"StartDate":"2020-03-18T06:45:26.5102157Z","EndDate":"2020-03-18T06:45:26.5102157Z","BilledUntil":"2020-03-18T06:45:26.5102157Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"}}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Orders/{id}/decline":{"post":{"tags":["Orders"],"summary":"[FEATURE] Decline an order","description":"<strong>This is an feature discriminated endpoint. Make sure your account has this feature enabled or contact <a href=\"mailto:support@billwerk.com\">support</a>.</strong>","operationId":"Orders_Decline","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Order ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderReadDTO"}},"401":{"description":"Unauthorized"},"500":{"description":"InternalServerError"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Orders/preview":{"post":{"tags":["Orders"],"summary":"Previews an order with pricing information","description":"This endpoint works very similar to POST /Orders, by retuning an order object, but does not actually create the order persistently.\r\nYou can pass the same data. It can be used to show pricing information of the cart.\r\nLikewise a real order creation it takes into account passed customer data like VAT ID and country to determine the actual price and taxes.","operationId":"Orders_OrderPreview","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"orderDto","in":"body","description":"Order object","required":true,"schema":{"$ref":"#/definitions/OrderDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderReadDTO"}},"401":{"description":"Unauthorized"},"500":{"description":"InternalServerError"}},"security":[{"BearerAuth":[]}]}},"/api/v1/PaymentTransactions/downloadlink":{"post":{"tags":["Payment Transactions"],"summary":"Creates a file download token for the given Payment Transactions File.","operationId":"PaymentTransactions_CreateDownloadLinkByFilter","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"isDownload","in":"query","description":"not in use even it is marked as required","required":true,"type":"boolean"},{"name":"dateFrom","in":"query","description":"Searches Payment Transactions with creation date equal or younger specified timestamp","required":true,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","description":"Searches Payment Transactions with creation date equal or older than specified timestamp","required":true,"type":"string","format":"date-time"},{"name":"search","in":"query","description":"Transaction ID, Provider Transaction ID, Customer Name or Contract ID, optional","required":false,"type":"string"},{"name":"status","in":"query","description":"Payment Status, optional","required":false,"type":"string","enum":["Created","InProgress","Prepared","PreliminarySucceeded","Succeeded","Undefined","Canceled","Chargeback","Pending","Failed","Unmapped","Refunded","ThreeDSecurePending","PartiallyRefunded","PartialChargeback","InDispute","Finalizing","Scheduled","PartiallyPaid","SuccessfullyImported","OverPaid"]},{"name":"excludePreauth","in":"query","description":"exclude Preauthorizations, optional (default: false)","required":false,"type":"boolean"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/FileDownloadLinkDTO"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}},"/api/v1/PlanGroups":{"get":{"tags":["PlanGroups"],"summary":"Retrieves a list of plan groups","operationId":"PlanGroups_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"skip","in":"query","description":"If you are using pagination, you can skip n items (1000 max.), optional","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Limit returned items (500 max.), optional","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PlanGroupReadDTO"}},"examples":{"application/json":[{"Id":"5996a944ba5c2e08203e8f51","TimeGranularity":"Precise","Name":{"_c":"Standard"},"Currency":"EUR","PriceTaxType":"Net","TaxPolicyId":"5996a944ba5c2e08203e8f52"},{"Id":"5996a944ba5c2e08203e8f52","TimeGranularity":"Precise","Name":{"_c":"Dollar"},"Currency":"USD","PriceTaxType":"Net","TaxPolicyId":"5996a944ba5c2e08203e8f52"}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/PlanGroups/{id}":{"get":{"tags":["PlanGroups"],"summary":"Retrieves a single Plangroup by ID","operationId":"PlanGroups_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Plangroup ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PlanGroupReadDTO"}},"examples":{"application/json":{"Id":"5996a944ba5c2e08203e8f51","TimeGranularity":"Precise","Name":{"_c":"Standard"},"Currency":"EUR","PriceTaxType":"Net","TaxPolicyId":"5996a944ba5c2e08203e8f52"}}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Plans":{"get":{"tags":["Plans"],"summary":"Retrieve a list of available plans","operationId":"Plans_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"planGroupId","in":"query","description":"Filter for specific Plangroup","required":false,"type":"string"},{"name":"from","in":"query","description":"Cursor from where on the plans are listed","required":false,"type":"string"},{"name":"skip","in":"query","description":"If you are using pagination, you can skip n items (1000 max.), optional","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Limit returned items (500 max.), optional","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PlanReadDTO"}},"examples":{"application/json":[{"PlanGroupId":"5996a944ba5c2e08203e8f51","Id":"5996a944ba5c2e08203e8f52","Name":{"_c":"My Product - Basic"},"SetupDescription":{"_c":"Setup fee"},"PlanDescription":{"_c":"All basic features are included."},"TrialEndPolicy":"NoTrial","IsQuantityBased":false,"Hidden":false,"IsDeletable":false,"RequiresOrderApproval":false},{"PlanGroupId":"5996a944ba5c2e08203e8f53","Id":"5996a944ba5c2e08203e8f54","Name":{"_c":"My Product - Advanced"},"SetupDescription":{"_c":"Setup fee"},"PlanDescription":{"_c":"All basic features are included."},"TrialEndPolicy":"NoTrial","IsQuantityBased":false,"Hidden":false,"IsDeletable":false,"RequiresOrderApproval":false}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Plans/{id}":{"get":{"tags":["Plans"],"summary":"Retrieves a single Plan by ID","operationId":"Plans_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Plan ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PlanReadDTO"},"examples":{"application/json":{"PlanGroupId":"5996a944ba5c2e08203e8f51","Id":"5996a944ba5c2e08203e8f52","Name":{"_c":"My Product - Basic"},"SetupDescription":{"_c":"Setup fee"},"PlanDescription":{"_c":"All basic features are included."},"TrialEndPolicy":"NoTrial","IsQuantityBased":false,"Hidden":false,"IsDeletable":false,"RequiresOrderApproval":false}}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/PlanVariants":{"get":{"tags":["PlanVariants"],"summary":"Retrieves a list of available Planvariants","description":"ExternalSubscriptionType property does not exist for products that are billed internally","operationId":"PlanVariants_GetGeneric","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"externalId","in":"query","description":"Filter for specific External ID","required":false,"type":"string"},{"name":"planId","in":"query","description":"Filter for specific Plan","required":false,"type":"string"},{"name":"skip","in":"query","description":"If you are using pagination, you can skip n items (1000 max.), optional","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Limit returned items (500 max.), optional","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PlanVariantReadDTO"}},"examples":{"application/json":[{"Id":"5996a945ba5c2e08203e8f5a","PlanId":"5996a945ba5c2e08203e8f5b","EndAfterFirstContractPeriod":false,"AllowSelfService":true,"AllowWithoutPaymentData":false,"ContractPeriod":{"Unit":"Month","Quantity":1},"LaterContractPeriod":{"Unit":"Month","Quantity":1},"CancellationPeriod":{"Unit":"Month","Quantity":1},"LaterCancellationPeriod":{"Unit":"Month","Quantity":1},"BillingPeriod":{"Unit":"Month","Quantity":1},"FeePeriod":{"Unit":"Month","Quantity":1},"PaymentPeriodMode":"PrePaid","Quota":[],"RecurringFee":75.0,"SetupFee":20.0,"InternalName":"moantliche Laufzeit","Description":{"_c":"monthly renewal and monthly payment"},"BillingDateAlignment":"None","Hidden":false,"IsDeletable":false,"AfterFirstContractPeriodNextStep":"RenewAutomatically"},{"Id":"5996a945ba5c2e08203e8f5c","PlanId":"5996a945ba5c2e08203e8f5d","EndAfterFirstContractPeriod":false,"AllowSelfService":true,"AllowWithoutPaymentData":false,"ContractPeriod":{"Unit":"Month","Quantity":1},"LaterContractPeriod":{"Unit":"Month","Quantity":1},"CancellationPeriod":{"Unit":"Month","Quantity":1},"LaterCancellationPeriod":{"Unit":"Month","Quantity":1},"BillingPeriod":{"Unit":"Month","Quantity":1},"FeePeriod":{"Unit":"Month","Quantity":12},"PaymentPeriodMode":"PrePaid","Quota":[],"RecurringFee":175.0,"SetupFee":25.0,"InternalName":"jährliche Laufzeit","Description":{"_c":"yearly renewal and yearly payment"},"BillingDateAlignment":"None","Hidden":false,"IsDeletable":false,"AfterFirstContractPeriodNextStep":"RenewAutomatically"}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/PlanVariants/{id}":{"get":{"tags":["PlanVariants"],"summary":"Retrieves a single Planvariant by ID","description":"ExternalSubscriptionType property does not exist for products that are billed internally","operationId":"PlanVariants_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Planvariant ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PlanVariantReadDTO"},"examples":{"application/json":{"Id":"5996a945ba5c2e08203e8f5a","PlanId":"5996a945ba5c2e08203e8f5b","EndAfterFirstContractPeriod":false,"AllowSelfService":true,"AllowWithoutPaymentData":false,"ContractPeriod":{"Unit":"Month","Quantity":1},"LaterContractPeriod":{"Unit":"Month","Quantity":1},"CancellationPeriod":{"Unit":"Month","Quantity":1},"LaterCancellationPeriod":{"Unit":"Month","Quantity":1},"BillingPeriod":{"Unit":"Month","Quantity":1},"FeePeriod":{"Unit":"Month","Quantity":1},"PaymentPeriodMode":"PrePaid","Quota":[],"RecurringFee":75.0,"SetupFee":20.0,"InternalName":"monatliche Laufzeit","Description":{"_c":"monthly renewal and monthly payment"},"BillingDateAlignment":"None","Hidden":false,"IsDeletable":false,"AfterFirstContractPeriodNextStep":"RenewAutomatically"}}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/ProductInfo":{"get":{"tags":["ProductInfo"],"summary":"Retrieves productinformation","operationId":"ProductInfo_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"showHidden","in":"query","description":"Include hidden elements","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductInfoDTO"},"examples":{"application/json":{"PlanGroups":[{"Id":"5a9ff61c81b1f010e02fbe91","TimeGranularity":"Precise","Name":{"_c":"Standard"},"Currency":"EUR","PriceTaxType":"Net","TaxPolicyId":"5981a1e381b1fc126071dc3e"}],"Plans":[{"PlanGroupId":"5a9ff61c81b1f010e02fbe91","Id":"5a9ff61c81b1f010e02fbe93","Name":{"_c":"My Product - Advanced","de":"Mein Produkt - Advanced"},"SetupDescription":{"_c":"Setup fee","de":"Einrichtungsgeb�hr"},"PlanDescription":{"_c":"all basic features plus feature deluxe included","de":"enth�lt alle basic-Funktionen plus das Feature Deluxe"},"TrialEndPolicy":"NoTrial","IsQuantityBased":false,"Hidden":false,"IsDeletable":false,"RequiresOrderApproval":false,"CustomFields":{}},{"PlanGroupId":"5a9ff61c81b1f010e02fbe91","Id":"5a9ff61bba5c1e154c958d11","Name":{"_c":"My Product - Basic","de":"Mein Produkt - Basic"},"SetupDescription":{"_c":"Setup fee","de":"Einrichtungsgeb�hr"},"PlanDescription":{"_c":"all basic features are included","de":"enth�lt alle basic-Funktionen"},"TrialEndPolicy":"NoTrial","IsQuantityBased":false,"Hidden":false,"IsDeletable":false,"RequiresOrderApproval":false,"CustomFields":{}}],"PlanVariants":[{"Id":"5996a945ba5c2e08203e8f5a","PlanId":"5a9ff61c81b1f010e02fbe93","EndAfterFirstContractPeriod":false,"AllowSelfService":true,"AllowWithoutPaymentData":false,"ContractPeriod":{"Unit":"Month","Quantity":1},"LaterContractPeriod":{"Unit":"Month","Quantity":1},"CancellationPeriod":{"Unit":"Month","Quantity":1},"LaterCancellationPeriod":{"Unit":"Month","Quantity":1},"BillingPeriod":{"Unit":"Month","Quantity":1},"FeePeriod":{"Unit":"Month","Quantity":1},"PaymentPeriodMode":"PrePaid","Quota":[],"RecurringFee":75.0,"SetupFee":20.0,"InternalName":"monatliche Laufzeit","Description":{"_c":"monthly renewal and monthly payment","de":"monatliche Laufzeit und monatliche Zahlung"},"BillingDateAlignment":"None","Hidden":false,"IsDeletable":false,"AfterFirstContractPeriodNextStep":"RenewAutomatically"},{"Id":"5996a945ba5c2e08203e8f5c","PlanId":"5a9ff61c81b1f010e02fbe93","EndAfterFirstContractPeriod":false,"AllowSelfService":true,"AllowWithoutPaymentData":false,"ContractPeriod":{"Unit":"Month","Quantity":1},"LaterContractPeriod":{"Unit":"Month","Quantity":1},"CancellationPeriod":{"Unit":"Month","Quantity":1},"LaterCancellationPeriod":{"Unit":"Month","Quantity":1},"BillingPeriod":{"Unit":"Month","Quantity":1},"FeePeriod":{"Unit":"Month","Quantity":12},"PaymentPeriodMode":"PrePaid","Quota":[],"RecurringFee":175.0,"SetupFee":25.0,"InternalName":"j�hrliche Laufzeit","Description":{"_c":"yearly renewal and yearly payment","de":"monatliche Laufzeit und monatliche Zahlung"},"BillingDateAlignment":"None","Hidden":false,"IsDeletable":false,"AfterFirstContractPeriodNextStep":"RenewAutomatically"}],"Components":[],"TaxPolicies":[{"Id":"5981a1e381b1fc126071dc3e","Name":"Services","IsDefault":true,"IsMossApplicable":false,"Entries":[{"Country":"DE","Rate":19.0},{"Country":"EU","Rate":19.0},{"Country":"XX","Rate":0.0}]}],"Discounts":[{"Id":"5a9ff61cba5c1e154c958d17","PlanGroupId":"5a9ff61c81b1f010e02fbe91","InternalName":"Starter discount","Description":{"_c":"Starter discount"},"Duration":{"Unit":"Month","Quantity":3},"Effect":{"Type":"Relative","ReductionPercent":30.0},"Targets":{"5a9ff61cba5c1e154c958d13":true,"5a9ff61c81b1f010e02fbe95":true,"5a9ff61cba5c1e154c958d15":true,"5a9ff61c81b1f010e02fbe97":true},"IncludeSetup":false,"CreateSeparateLineItem":true,"Hidden":false,"IsDeletable":false}],"Coupons":[{"Id":"5a9ff61d81b1f010e02fbe99","PlanGroupId":"5a9ff61c81b1f010e02fbe91","Active":true,"InternalName":"Starter Coupon","Description":{"_c":"Thank you. Enjoy the Starter discount!","de":"Danke. Viel Spa� mit dem Starter-Rabatt!"},"DiscountId":"5a9ff61cba5c1e154c958d17","Enabled":true,"IsSingleUse":false,"Hidden":false}]}}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Subscriptions":{"get":{"tags":["Subscriptions"],"summary":"Retrieves combined customer and contract data","operationId":"Subscriptions_GetList","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"from","in":"query","description":"cursor from where on the items are listed","required":false,"type":"string"},{"name":"skip","in":"query","description":"If you are using pagination, you can skip n items (1000 max.)","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Limit returned items (500 max.)","required":false,"type":"integer","format":"int32"},{"name":"detailLevel","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.showHidden","in":"query","required":false,"type":"boolean"},{"name":"filter.search","in":"query","required":false,"type":"string"},{"name":"filter.defaultBearerMedium","in":"query","required":false,"type":"string","enum":["Email","SnailMail","ArchiveOnly"]},{"name":"filter.planGroupId","in":"query","required":false,"type":"string"},{"name":"filter.planId","in":"query","required":false,"type":"string"},{"name":"filter.planVariantId","in":"query","required":false,"type":"string"},{"name":"filter.componentId","in":"query","required":false,"type":"string"},{"name":"filter.componentUsageId","in":"query","required":false,"type":"string"},{"name":"filter.discountId","in":"query","required":false,"type":"string"},{"name":"filter.paymentMethod","in":"query","required":false,"type":"string"},{"name":"filter.contractStatus","in":"query","required":false,"type":"string","enum":["Undefined","Draft","InOrderProcess","InTrial","TrialExpired","Active","Ended","TemporarilyInactive","Annulled","Locked","Cancelled"]},{"name":"filter.dunningTemplateId","in":"query","required":false,"type":"string"},{"name":"filter.operationStatus","in":"query","required":false,"type":"string"},{"name":"filter.balanceType","in":"query","required":false,"type":"string","enum":["Credit","Balanced","Debit"]},{"name":"filter.contractStartFrom","in":"query","required":false,"type":"string","format":"date-time"},{"name":"filter.contractStartTo","in":"query","required":false,"type":"string","format":"date-time"},{"name":"filter.contractEndFrom","in":"query","required":false,"type":"string","format":"date-time"},{"name":"filter.contractEndTo","in":"query","required":false,"type":"string","format":"date-time"},{"name":"filter.locale","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SubscriptionReadDTO"}},"examples":{"application/json":[{"Id":"5a0568b5ba5c1e07eca1a856","CustomerId":"5a0568b5ba5c1e07eca1a856","FirstName":"Karla","LastName":"Klomm","EmailAddress":"demo+karla@billwerk.com","CustomerName":"Klomm, Karla","CustomerSubName":"","Hidden":false,"IsLocked":false,"ContractId":"5a0568b6ba5c1e07eca1a858","ReferenceCode":"SDNJ-RLLF","LastBillingDate":"2020-03-18T06:45:26.7485093Z","NextBillingDate":"2020-04-18T06:45:26.7485093Z","PlanId":"5a0568b4ba5c1e07eca1a84e","PlanVariantId":"5a0568b5ba5c1e07eca1a850","PlanVariantName":"monatliche Laufzeit","PlanName":"My Product - Basic","Quantity":1,"LastPhaseChange":"2020-03-18T06:45:26.7494935Z","Balance":89.25,"Currency":"EUR","RecurringPaymentsPaused":true,"BillingSuspended":false,"StartDate":"2020-03-18T06:45:26.7494935Z","LifecycleStatus":"Active","IsDeletable":false},{"Id":"5a0568b581b2080940b41d32","CustomerId":"5a0568b581b2080940b41d32","FirstName":"Karl","LastName":"Klimm","EmailAddress":"demo+karl@billwerk.com","CustomerName":"Klimm, Karl","CustomerSubName":"","Hidden":false,"IsLocked":false,"ContractId":"5a0568b6ba5c1e07eca1a85b","ReferenceCode":"TXBY-ZJYJ","LastBillingDate":"2020-03-18T06:45:26.7494935Z","NextBillingDate":"2020-04-18T06:45:26.7494935Z","PlanId":"5a0568b481b2080940b41d29","PlanVariantId":"5a0568b5ba5c1e07eca1a852","PlanVariantName":"monatliche Laufzeit","PlanName":"My Product - Advanced","Quantity":1,"LastPhaseChange":"2020-03-18T06:45:26.7494935Z","Balance":148.75,"Currency":"EUR","RecurringPaymentsPaused":true,"BillingSuspended":false,"StartDate":"2020-03-18T06:45:26.7494935Z","LifecycleStatus":"Active","IsDeletable":false}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Test":{},"/api/v1/Test/{id}":{},"/api/v1/Webhooks":{"get":{"tags":["Webhooks"],"summary":"Lists all webhooks that you currently have registered","operationId":"Webhooks_Get","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/HookReadDTO"}},"examples":{"application/json":[{"Id":"599d51f881b1f00a28f7aeb0","Url":"http://example.com/billwerk-hooks/account-hook","Events":["AccountCreated","ContractChanged","PaymentSucceeded","PaymentFailed","DebitAuthCancelled","CustomerChanged"]}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]},"post":{"tags":["Webhooks"],"summary":"Create a new webhook subscription","operationId":"Webhooks_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"dto","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/HookDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/HookReadDTO"},"examples":{"application/json":[{"Id":"599d51f881b1f00a28f7aeb0","Url":"http://example.com/billwerk-hooks/account-hook","Events":["AccountCreated","ContractChanged","PaymentSucceeded","PaymentFailed","DebitAuthCancelled","CustomerChanged"]}]}},"401":{"description":"Unauthorized"}},"security":[{"BearerAuth":[]}]}},"/api/v1/Webhooks/{id}":{"delete":{"tags":["Webhooks"],"summary":"Deletes the webhook from the system.","description":"Note that this will NOT stop retrying of webhooks that are already queued up!","operationId":"Webhooks_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Webhook ID","required":true,"type":"string"}],"responses":{"204":{"description":"NoContent"},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity"}},"security":[{"BearerAuth":[]}]}}},"definitions":{"PasswordSettingsDTO":{"type":"object","properties":{"OldPassword":{"type":"string"},"NewPassword":{"type":"string"},"ConfirmationPassword":{"type":"string"}}},"AccountingCloseMonthDTO":{"type":"object","properties":{"Year":{"format":"int32","type":"integer"},"Month":{"format":"int32","type":"integer"},"ConfirmedIsInFuture":{"type":"boolean"},"ConfirmedHasUnexportedPostings":{"type":"boolean"}}},"AccountingExportFileReadDTO":{"type":"object","properties":{"Id":{"description":"Unique ID","type":"string"},"ExportId":{"description":"ID of the Export","type":"string"},"Version":{"format":"int32","description":"Version of the file","type":"integer"},"FileTime":{"format":"date-time","description":"Date where this file has been created","type":"string"},"Status":{"enum":["Queued","InProgress","Finished","Failed"],"type":"string"},"Format":{"enum":["Datev","Lexware","Ewe"],"type":"string"}}},"FileDownloadLinkDTO":{"type":"object","properties":{"Url":{"description":"URL","type":"string"},"Expiry":{"format":"date-time","description":"Expiry date","type":"string"},"Filename":{"description":"Optional - Name of the file","type":"string"}}},"AccountingExportFileCreateDTO":{"type":"object","properties":{"Format":{"enum":["Datev","Lexware","Ewe"],"type":"string"}}},"AccountingExportCreateDTO":{"type":"object","properties":{"ExportedDateRange":{"$ref":"#/definitions/DateRangeDTO"},"Kind":{"enum":["Export","Preview"],"type":"string"},"Files":{"type":"array","items":{"$ref":"#/definitions/AccountingExportFileCreateDTO"}}}},"DateRangeDTO":{"type":"object","properties":{"Start":{"type":"string"},"ExclusiveEnd":{"type":"string"},"InclusiveEnd":{"type":"string"}}},"AccountingExportSettingsDTO":{"type":"object","properties":{"Format":{"enum":["Datev","Sap"],"type":"string"},"GeneralDebitorAccount":{"type":"string"},"UsePerCustomerDebitorAccount":{"type":"boolean"},"DeferralAccount":{"type":"string"},"IncludeDeferrals":{"type":"boolean"},"PostingPerLineItem":{"type":"boolean"},"BankAccount":{"type":"string"},"IncludePayments":{"type":"boolean"},"IncludeAssignmentInPaymentPostings":{"type":"boolean"},"FinalizedDate":{"type":"string"},"Groupings":{"type":"array","items":{"$ref":"#/definitions/AccountingExportReceivableGroupingSettingsDTO"}},"PaymentGroupings":{"type":"array","items":{"$ref":"#/definitions/AccountingExportPaymentGroupingSettingsDTO"}},"ExtraFieldsPostingsDatev":{"type":"array","items":{"$ref":"#/definitions/AccountingExportExtraFieldDTO"}},"ExtraFieldsDebitorsDatev":{"type":"array","items":{"$ref":"#/definitions/AccountingExportExtraFieldDTO"}},"ExtraFieldsPostingsLexware":{"type":"array","items":{"$ref":"#/definitions/AccountingExportExtraFieldDTO"}},"ExtraFieldsDebitorsLexware":{"type":"array","items":{"$ref":"#/definitions/AccountingExportExtraFieldDTO"}}}},"AccountingExportReceivableGroupingSettingsDTO":{"type":"object","properties":{"Key":{"$ref":"#/definitions/AccountingGroupingKeyDTO"},"AccountType":{"enum":["Gross","Net","NoTax"],"type":"string"},"Account":{"type":"string"},"AccountVat":{"type":"string"},"TaxCode":{"type":"string"}}},"AccountingExportPaymentGroupingSettingsDTO":{"type":"object","properties":{"Key":{"$ref":"#/definitions/AccountingPaymentGroupingKeyDTO"},"Account":{"type":"string"}}},"AccountingExportExtraFieldDTO":{"type":"object","properties":{"Output":{"type":"string"},"OutputTitle":{"type":"string"},"Input":{"type":"string"}}},"AccountingGroupingKeyDTO":{"type":"object","properties":{"Country":{"type":"string"},"Currency":{"type":"string"},"VatPercentage":{"format":"double","type":"number"},"ReverseCharge":{"type":"boolean"},"IsFee":{"type":"boolean"},"IsIntraGroup":{"type":"boolean"},"IsPrepaidCard":{"type":"boolean"}}},"AccountingPaymentGroupingKeyDTO":{"type":"object","properties":{"Currency":{"type":"string"},"PaymentProvider":{"enum":["External","DirectDebit","PayPal","Paymill","DTAUS","Skrill","FakeProvider","InvoicePayment","PayOne","None","Wirecard","Heidelpay","Adyen","Stripe","GoCardless","SlimPay","WirecardElastic","Worldline"],"type":"string"},"PaymentProviderRole":{"enum":["Default","BlackLabel","CreditCard","Debit","None","OnAccount"],"type":"string"}}},"AdminLoginDTO":{"type":"object","properties":{"Username":{"type":"string"},"Password":{"type":"string"},"EntityId":{"type":"string"}}},"AttachmentPostDTO":{"type":"object","properties":{"Id":{"type":"string"},"AttachmentContentId":{"type":"string"},"InternalName":{"type":"string"},"File":{"$ref":"#/definitions/FileDTO"}}},"FileDTO":{"type":"object","properties":{"FileName":{"type":"string"},"FileSize":{"format":"int32","type":"integer"},"Content":{"format":"byte","type":"string"}}},"AttachmentDTO":{"type":"object","properties":{"InternalName":{"type":"string"},"Files":{"type":"object","additionalProperties":{"$ref":"#/definitions/FileReferenceDTO"}}}},"FileReferenceDTO":{"type":"object","properties":{"FileId":{"type":"string"},"FileName":{"type":"string"},"FileSize":{"format":"int32","type":"integer"},"Uploaded":{"format":"date-time","type":"string"}}},"AuditLogsRequest":{"type":"object","properties":{"Category":{"enum":["ProductChanged","SettingChanged","CustomerChanged","ContractChanged","EntityChanged"],"type":"string"},"DateFrom":{"format":"date-time","type":"string"},"DateTo":{"format":"date-time","type":"string"},"Search":{"type":"string"},"Skip":{"format":"int32","type":"integer"},"Take":{"format":"int32","type":"integer"},"From":{"type":"string"}}},"BackupSettingsDTO":{"type":"object","properties":{"IsActive":{"type":"boolean"},"S3Host":{"type":"string"},"AccessKey":{"type":"string"},"SecretAccessKey":{"type":"string"},"BucketName":{"type":"string"},"Password":{"type":"string"}}},"BillingSettingsDTO":{"type":"object","properties":{"BillingDelay":{"format":"int32","maximum":168,"minimum":0,"type":"integer"},"SendInvoiceAutomatically":{"type":"boolean"},"BillChargebackFeesAutomatically":{"type":"boolean"},"SuspendBillingOnFatalPaymentError":{"type":"boolean"},"ApplyReverseChargeOnInvalidVatId":{"type":"boolean"},"PrepaidCardActionForContractCancellation":{"enum":["Nothing","End","SwitchToFallback"],"type":"string"},"ThresholdBilling":{"$ref":"#/definitions/ThresholdBillingDTO"}}},"ThresholdBillingDTO":{"type":"object","properties":{"Enabled":{"type":"boolean"},"IncludeRatedItems":{"type":"boolean"},"BillingThresholds":{"type":"array","items":{"$ref":"#/definitions/BillingThresholdDTO"}}}},"BillingThresholdDTO":{"type":"object","properties":{"Amount":{"format":"double","type":"number"},"Currency":{"type":"string"}}},"ChargeBackFeesSettings":{"type":"object","properties":{"To":{"format":"date-time","type":"string"},"From":{"format":"date-time","type":"string"},"Filter":{"type":"string"},"Bill":{"type":"boolean"},"OpenOnly":{"type":"boolean"}}},"ChargebackFeeDTO":{"type":"object","properties":{"ShouldBeBilled":{"type":"boolean"}}},"PasswordCheckExtendedDTO":{"type":"object","properties":{"Email":{"type":"string"},"Token":{"type":"string"},"Password":{"type":"string"}}},"CompanyInformationDTO":{"type":"object","properties":{"TaxationBase":{"enum":["AgreedRemuneration","ReceivedRemuneration"],"type":"string"},"TaxNumber":{"type":"string"},"VatId":{"type":"string"},"CreditorIdentifier":{"type":"string"},"CityOfResidence":{"type":"string"},"RegistryCourt":{"type":"string"},"CommercialRegisterNumber":{"type":"string"},"AdministrationType":{"type":"string"},"Administration":{"type":"string"},"SupervisorBoard":{"type":"string"},"FurtherLegalInformation":{"type":"string"},"Description":{"maxLength":400,"minLength":0,"type":"string"},"Website":{"maxLength":128,"minLength":0,"type":"string"},"PhoneNumber":{"maxLength":24,"minLength":0,"type":"string"},"FaxNumber":{"maxLength":24,"minLength":0,"type":"string"},"EmailAddress":{"maxLength":128,"minLength":0,"type":"string"},"NotAllowedToReportVat":{"type":"boolean"},"MannerOfConductingBusiness":{"enum":["Management","ExecutiveBoard","Other"],"type":"string"},"CountryOfResidence":{"type":"string"},"CompanyName":{"type":"string"}}},"ComponentDTO":{"type":"object","properties":{"AllowSelfService":{"type":"boolean"},"ShowSelfService":{"type":"boolean"},"ComponentType":{"enum":["QuantityBased","OnOff","Metered"],"type":"string"},"FeePeriod":{"$ref":"#/definitions/PeriodDTO"},"Prorate":{"type":"boolean"},"PaymentPeriodMode":{"enum":["PrePaid","PostPaid","PrePaidBilledUntil"],"type":"string"},"Name":{"type":"object","additionalProperties":{"type":"string"}},"Description":{"type":"object","additionalProperties":{"type":"string"}},"Unit":{"type":"string"},"TaxPolicyId":{"type":"string"},"CostCenter":{"type":"string"},"ExternalId":{"type":"string"},"PriceScale":{"$ref":"#/definitions/PriceScaleDTO"},"DiscountScale":{"$ref":"#/definitions/DiscountScaleDTO"},"PricePerUnit":{"format":"double","type":"number"},"IncludeInInterimBilling":{"type":"boolean"},"BillInTrial":{"type":"boolean"},"Hidden":{"type":"boolean"},"CustomFields":{"type":"object","additionalProperties":{"type":"string"}}}},"PeriodDTO":{"type":"object","properties":{"Unit":{"enum":["Day","Week","Month","Year","Hour","Minute","Second"],"type":"string"},"Quantity":{"format":"int32","maximum":9999,"minimum":0,"type":"integer"}}},"PriceScaleDTO":{"type":"object","properties":{"IsCumulative":{"type":"boolean"},"Items":{"type":"array","items":{"$ref":"#/definitions/PriceScaleItemDTO"}}}},"DiscountScaleDTO":{"type":"object","properties":{"IsCumulative":{"type":"boolean"},"BasePricePerUnit":{"format":"double","type":"number"},"Items":{"type":"array","items":{"$ref":"#/definitions/DiscountScaleItemDTO"}}}},"PriceScaleItemDTO":{"type":"object","properties":{"IsBucketPrice":{"type":"boolean"},"From":{"format":"double","type":"number"},"Value":{"format":"double","type":"number"}}},"DiscountScaleItemDTO":{"type":"object","properties":{"From":{"format":"double","type":"number"},"Value":{"format":"double","maximum":100,"minimum":0,"type":"number"}}},"ComponentSubscriptionReadDTO":{"type":"object","properties":{"Id":{"description":"Unique ID","type":"string"},"ContractId":{"description":"ID of the contract","type":"string"},"CustomerId":{"description":"ID of the customer","type":"string"},"ComponentId":{"description":"ID of the component","type":"string"},"Quantity":{"format":"double","description":"Optional - Quantity of the subscribed component","type":"number"},"StartDate":{"format":"date-time","description":"Optional - Date where the componentsubscription will start. Leave empty to start immediately","type":"string"},"BilledUntil":{"format":"date-time","description":"Optional - Date until when the componentsubscription has been billed. Leave empty to force immediate billing","type":"string"},"ProductOverride":{"$ref":"#/definitions/ProductOverrideDTO","description":"Optional - Override default values like price per unit, name or description of the component"},"EndDate":{"format":"date-time","description":"Optional - Date where the componentsubscription will end","type":"string"},"Memo":{"description":"Memo attached to the componentsubscription","type":"string"}}},"ProductOverrideDTO":{"type":"object","properties":{"PricePerUnit":{"format":"double","description":"Optional - New price of the product","type":"number"},"Name":{"description":"Optional - Change the name of your product","type":"string"},"Description":{"description":"Optional - Change the description of your product","type":"string"}}},"ComponentSubscriptionCreateDTO":{"type":"object","properties":{"ComponentId":{"description":"ID of the component","type":"string"},"StartDate":{"format":"date-time","description":"Optional - Date where the componentsubscription will start. Leave empty to start immediately","type":"string"},"EndDate":{"format":"date-time","description":"Optional - Date where the componentsubscription will end","type":"string"},"BilledUntil":{"format":"date-time","description":"Optional - Date until when the componentsubscription has been billed. Leave empty to force immediate billing","type":"string"},"ProductOverride":{"$ref":"#/definitions/ProductOverrideDTO","description":"Optional - Override default values like price per unit, name or description of the component"},"Quantity":{"format":"double","description":"Optional - Quantity of the subscribed component","type":"number"},"Memo":{"description":"Memo attached to the componentsubscription","type":"string"}},"example":{"ComponentId":"599d51f881b1f00a28f7aea3","StartDate":"2020-03-18T06:45:25.4491572Z","EndDate":"2020-03-18T06:45:25.4491572Z","Quantity":42.0,"Memo":"MemoExample"}},"ComponentSubscriptionDTO":{"type":"object","properties":{"EndDate":{"format":"date-time","description":"Optional - Date where the componentsubscription will end","type":"string"},"Memo":{"description":"Memo attached to the componentsubscription","type":"string"}}},"MeteredUsageReadDTO":{"type":"object","properties":{"Id":{"description":"Unique ID","type":"string"},"ContractId":{"description":"ID of the contract","type":"string"},"TransferredAt":{"format":"date-time","description":"Date when the metered usage has been transferred","type":"string"},"BilledOn":{"format":"date-time","description":"Optional - Date when the metered usage has been billed","type":"string"},"ComponentId":{"description":"Unique ID","type":"string"},"ExternalComponentId":{"description":"Unique external ID","type":"string"},"Quantity":{"format":"double","description":"Quantity of the metered usage","type":"number"},"Memo":{"type":"string"},"Key":{"type":"string"},"DueDate":{"format":"date-time","description":"Date where the metered usage is due","type":"string"},"ProductOverride":{"$ref":"#/definitions/ProductOverrideDTO","description":"Use product override to change price, name or description"}}},"MeteredUsageDTO":{"type":"object","properties":{"ComponentId":{"description":"Unique ID","type":"string"},"ExternalComponentId":{"description":"Unique external ID","type":"string"},"Quantity":{"format":"double","description":"Quantity of the metered usage","type":"number"},"Memo":{"type":"string"},"Key":{"type":"string"},"DueDate":{"format":"date-time","description":"Date where the metered usage is due","type":"string"},"ProductOverride":{"$ref":"#/definitions/ProductOverrideDTO","description":"Use product override to change price, name or description"}},"example":{"ComponentId":"599d51f881b1f00a28f7ae9c","Quantity":124.0,"Memo":"MemoExample","DueDate":"2020-03-18
[...]
