body {
    background-color: var(--vscode-editor-background);
}
.container {
    color: var(--vscode-editor-foreground);
    height: 100%;
    padding-top: 18px;
    max-width: 1800px;
}
.config-header {
    min-height: 54px;
}
