* {
  outline: none !important;
}

html,
body,
#root {
  height: 100%;
}

body {
  padding: 0;
}

#root {
  display: flex;
}

code {
  color: #222;
  background-color: #d7d7d7;
  padding: 0 5px;
  border-radius: 3px;
}

@import '../components/ContentByType/style.scss';
