.fullHeightTabs {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .bp3-tab-panel {
        display: flex;
        height: 100%;
        flex: 1;
    }
}
