table.text-left td {
  text-align: left;
  font-family: monospace;
}

table.text-left th {
  text-align: left;
}

#sql-dataview-mainmenu a {
    padding: 0;
}

#sql-dataview-tree {
    overflow-x: auto;
    font-size: 80%;
    font-family: monospace;
}

.nav-header:before {
    content: "+";
}
.uiexpand:before {
    content: "-";
}
