html,
body,
#root {
    height: 100%;
}

body {
    background-color: #eee;
    padding: 0;
}

#root {
    display: flex;
}

.fg-color {
    color: #222;
}

.flex-start {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.flex-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.flex-end {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.flex-space-between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

// This is needed for popover contents
// to properly render with tooltips
// otherwise the popover content is rendered
// inline
.bp3-menu .bp3-popover-target {
    display: block;
}
.bp3-select-popover .bp3-popover-content {
    padding: 5px;
}
// Add line-height to bp3 controls
.bp3-radio,
.bp3-switch {
    line-height: 30px;
}
// Add full width to the select popover
.select-popover {
    width: 100%;
}

.select-field,
.select-field div,
.select-field button {
    width: 100%;
}

$navbar_offset: 54px;

.navbar-offset {
    margin-top: $navbar_offset;
}

.text-center {
    text-align: center;
}

.fixed-table-header,
td,
td *,
td:first-child,
th,
th * {
    vertical-align: middle !important;
}

table.text-table {
    th,
    td {
        text-align: left !important;
        padding: 5px !important;
    }

    th {
        background-color: darken(#fff, 5);
    }
}

td.editable {
    cursor: pointer; /* [1] */
    vertical-align: middle;
    white-space: nowrap;

    &:not(.editor) {
        padding-right: 30px !important;
    }

    input {
        padding: 0 4px;
        height: 24px;
        line-height: 24px;
    }

    .editable-button {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }

    & {
        /* [2] */
        position: relative;
    }
}

$qore-green: #7fba27;
$qore-purple: #81358a;
$qore-warning: #d99e0b;
$qore-danger: #d13913;
$qore-info: #2965cc;
$qore-gray: #8a9ba8;
$qore-blue: #277fba;
$qore-cobalt: #5c7080;
$qore-dark: #383c44;
$bgcolor: #eee;
$font-size-extra-small: 11px;

div.sort,
th.sort {
    &:after {
        font-family: Icons16;
        margin-left: 0.4em;
        color: $qore-cobalt;
    }

    &.sort-asc:after {
        content: '\E696';
        margin-top: 0.3em;
    }

    &.sort-desc:after {
        content: '\E697';
    }
}

div.history-sort,
th.history-sort {
    &:after {
        font-family: Icons16;
        margin-left: 0.4em;
        opacity: 0.4;
        color: $qore-cobalt;
    }

    &.history-sort-asc:after {
        content: '\E696';
        margin-top: 0.3em;
    }

    &.history-sort-desc:after {
        content: '\E697';
    }
}

div.has-sort:hover,
th.has-sort:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.fixed-table tr {
    height: 26px;
}

.fixed-table-header {
    display: inline-block;
}

.toolbar-row {
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 3px;

    &:first-of-type {
        padding-top: 3px;
    }
}

.separated-cell {
    border-left: 1px solid $bgcolor;
}

table.text-table.table-clean {
    th {
        padding-left: 0 !important;
        padding-right: 12px !important;
        background-color: #fff;
    }

    td {
        border-top: 0 !important;
    }
}

.table-bordered-our {
    border: 1px solid #ddd !important;
    border-radius: 2px;
}

$padding-xs-horizontal: 3px;
$padding-xs-vertical: 2px;

th {
    border: 0 !important;
}

.fixed-table-header,
th {
    font-weight: 400;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    > span {
        &.header-icon {
            font-size: 10px;
            margin-right: 2px;
            line-height: 25px;
        }

        vertical-align: middle;
    }

    &.name {
        /* [2] */
        font-weight: 600;
        text-align: left;
    }

    &.desc,
    &.text {
        /* [2] */
        text-align: left;
    }

    &.nowrap {
        white-space: nowrap;
    }

    &.wrap {
        p {
            white-space: normal;
        }
    }

    padding: 0 3px;
    line-height: 25px;

    &.tiny {
        width: 34px;
    }

    &.narrow {
        /* [4] */
        width: 55px;
    }

    &.normal {
        /* [4] */
        width: 75px;
    }

    &.medium {
        /* [4] */
        width: 100px;
    }

    &.big {
        /* [4] */
        width: 150px;
    }

    &.date {
        /* [4] */
        width: 110px;
    }

    &.large {
        /* [4] */
        width: 200px;
    }

    &.alerts-large {
        /* [4] */
        width: 250px;
    }

    &.huge {
        /* [4] */
        width: 320px;
    }

    &.name {
        /* [5] */
        padding-left: $padding-xs-horizontal;
        padding-right: $padding-xs-horizontal;
    }
}

table.table--data {
    margin-bottom: 0 !important;

    tr {
        transition: all 0.15s linear;

        &:nth-of-type(even) {
            td .interface-tag {
                background-color: lighten($qore-cobalt, 50);
                box-shadow: inset 0 0 0 1px rgba(lighten($qore-cobalt, 15), 0.2),
                    inset 0 -1px 0 rgba(lighten($qore-cobalt, 15), 0.1);
            }
        }

        &:nth-of-type(odd) {
            td .interface-tag {
                background-color: lighten($qore-cobalt, 45);
                box-shadow: inset 0 0 0 1px rgba(lighten($qore-cobalt, 15), 0.2),
                    inset 0 -1px 0 rgba(lighten($qore-cobalt, 15), 0.1);
            }
        }
    }

    tr.row-highlight {
        td {
            border-bottom: 1px solid lighten($qore-green, 30);
        }

        &:nth-of-type(even) {
            background-color: lighten($qore-green, 40);
        }

        &:nth-of-type(odd) {
            background-color: lighten($qore-green, 48);
        }
    }

    tr.row-alert {
        &:nth-of-type(even) {
            td.table-name-has-alerts {
                .interface-tag {
                    background-color: lighten($qore-danger, 47);
                    box-shadow: inset 0 0 0 1px rgba(lighten($qore-danger, 15), 0.2),
                        inset 0 -1px 0 rgba(lighten($qore-danger, 15), 0.1);
                }
            }
        }

        &:nth-of-type(odd) {
            td.table-name-has-alerts {
                .interface-tag {
                    background-color: lighten($qore-danger, 40);
                    box-shadow: inset 0 0 0 1px rgba(lighten($qore-danger, 15), 0.2),
                        inset 0 -1px 0 rgba(lighten($qore-danger, 15), 0.1);
                }
            }
        }
    }

    tr.row-selected {
        td {
            border-bottom: 1px solid lighten($qore-cobalt, 30);
        }

        &:nth-of-type(even) {
            background-color: lighten($qore-cobalt, 35);
        }

        &:nth-of-type(odd) {
            background-color: lighten($qore-cobalt, 42);
        }
    }

    tr.row-active {
        background-color: lighten($qore-cobalt, 44);
    }

    tr.row-hidden {
        visibility: hidden;
    }

    td {
        p,
        span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 0;
        }
    }

    thead th,
    div.fixed-table-header {
        border-right: 0 !important;
    }

    > tfoot tr td {
        border-right: 0 !important;
        border-top: 1px solid #eee !important;
    }

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                text-align: center; /* [2] */

                &.name {
                    /* [2] */
                    font-weight: 600;
                    text-align: left;
                }

                &.desc,
                &.text {
                    /* [2] */
                    text-align: left;
                }

                &.nowrap {
                    white-space: nowrap;
                }

                &.wrap {
                    p {
                        white-space: normal;
                    }
                }
            }
        }
    }

    > thead,
    > tfoot {
        > tr {
            > th,
            > td {
                /* [1] */
                border-right: 1px solid #eee;

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }

    &.table-condensed {
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    padding-top: $padding-xs-vertical;
                    padding-bottom: $padding-xs-vertical;

                    &.separator {
                        width: 3px;
                        background-color: $bgcolor !important;
                    }

                    &.tiny {
                        width: 34px;
                    }

                    &.narrow {
                        /* [4] */
                        width: 55px;
                    }

                    &.normal {
                        /* [4] */
                        width: 75px;
                    }

                    &.medium {
                        /* [4] */
                        width: 100px;
                    }

                    &.big {
                        /* [4] */
                        width: 150px;
                    }

                    &.date {
                        /* [4] */
                        width: 120px;
                    }

                    &.large {
                        /* [4] */
                        width: 200px;
                    }

                    &.alerts-large {
                        /* [4] */
                        width: 250px;
                    }

                    &.huge {
                        width: 320px;
                    }

                    &.name {
                        /* [5] */
                        padding-left: $padding-xs-horizontal;
                        padding-right: $padding-xs-horizontal;
                    }
                }
            }
        }

        > thead {
            /* [6] */
            font-size: 12px;
            line-height: floor($font-size-extra-small * 1.1);
        }

        > tbody tr:first-of-type td,
        > tbody tr:first-of-type th {
            border-top: 0 !important;
        }
    }
}

/**
   * Table with smaller padding on cells.
   */
table.table--small {
    &.table-condensed {
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    padding: $padding-xs-vertical $padding-xs-horizontal;
                    vertical-align: middle;
                }
            }
        }
    }
}

table {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                &.align-right {
                    text-align: right;
                }
                &.align-left {
                    text-align: left;
                }
                &.align-center {
                    text-align: center;
                }
            }

            > th {
                line-height: 1 !important;
            }
        }
    }
}

table.table--centered {
    margin: auto;
    width: auto;

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            td {
                text-align: center;
            }
        }
    }
    input {
        width: 40px;
    }
}

div.table-wrapper {
    font-size: 12px;
    height: auto;
    overflow: auto;
    clear: both;
}

div.table-body-wrapper {
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;

    tr:nth-child(odd) {
        background-color: #eee;
    }
}

table.table-body,
table.table-header {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;
}

.props-table {
    margin-left: 10%;
    width: 90%;

    th {
        width: 20%;
    }

    td:first-of-type {
        width: 70%;
        text-align: left;
    }

    td:last-of-type {
        width: 10%;
        text-align: right;
    }
}

.tbody-empty-table {
    tr {
        background: #fff !important;

        td {
            border: 0 !important;
        }
    }
}

div.table-name-popover {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

div.configItemsEditor {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;

    &.editorDisabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    .header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #d7d7d7;
        padding: 0 10px;
        font-size: 15px;
        font-weight: bold;

        .pt-icon-standard {
            margin-right: 5px;
        }
    }

    &.editorOverride {
        border-color: $qore-green;

        .header {
            background-color: lighten($qore-green, 45);
            border-bottom-color: $qore-green;
        }
    }

    &:not(.editorOverride):hover {
        cursor: pointer;
        border-color: darken(#d7d7d7, 15);
    }

    .body {
        width: 100%;
        padding: 10px;
    }
}

.white-box,
.boxed-tabs > .pt-tab-list {
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
    clear: both;
}

@import '../components/DataOrEmptyTable/style.scss';
@import '../components/Tree/style.scss';
@import '../components/ContentByType/style.scss';
@import '../components/Datepicker/style.scss';
@import '../components/Dropdown/style.scss';
