html,
body,
#root {
    height: 100%;
}

body {
    background-color: #eee;
    padding: 0;
}

#root {
    display: flex;
}

.fg-color {
    color: #222;
}

.flex-start {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.flex-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.flex-end {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.flex-space-between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

// This is needed for popover contents
// to properly render with tooltips
// otherwise the popover content is rendered
// inline
.bp3-menu .bp3-popover-target {
    display: block;
}
.bp3-select-popover .bp3-popover-content {
    padding: 5px;
}
// Add line-height to bp3 controls
.bp3-radio,
.bp3-switch {
    line-height: 30px;
}
// Add full width to the select popover
.select-popover {
    width: 100%;
}

$navbar_offset: 54px;

.navbar-offset {
    margin-top: $navbar_offset;
}

.text-center {
    text-align: center;
}
