<div class="well">

    <button type="button" class="btn" data-toggle="collapse" data-target="#where-filter">
        Edit Where Condition...
    </button>

    <div id="where-filter" class="collapse">
    <h4>Select by Values</h4>
    <p>Using multiple values results in logical AND condition.</p>

    <form id="where-filter-form" class="form-horizontal">
        <% _.each(meta.columns, function (c) { %>
            <div class="control-group">
                <label class="control-label" for="<%= c.name %>"><%= c.name %></label>
                <div class="controls">
                <select name="<%= c.name %>-operator" id="<%= c.name %>-operator">
                    <option value="=" <%= where_condition[c.name+'-operator'] == '=' ? 'selected' : '' %>>=</option>
                    <option value="!=" <%= where_condition[c.name+'-operator'] == '!=' ? 'selected' : '' %>>!=</option>
                    <option value=">" <%= where_condition[c.name+'-operator'] == '>' ? 'selected' : '' %>>&gt;</option>
                    <option value="<" <%= where_condition[c.name+'-operator'] == '<' ? 'selected' : '' %>>&lt;</option>
                </select>
                <input type="text" name="<%= c.name %>-value" id="<%= c.name %>-value" placeholder="<%= c.type %>" value="<%= where_condition[c.name+'-value'] %>">
                <% if (c.nullable) { %>
                    <label class="xheckbox"><input name="<%= c.name %>-isnull" type="checkbox" <%= where_condition[c.name+'-isnull'] ? 'checked' : '' %>>Is NULL</label>
                <% } // if nullable %>
                </div>
            </div>
        <% }) // foreach meta.columns %>

        <div class="control-group">
        <div class="controls"><button type="submit" class="btn">Apply</button></div>
        </div>
    </form>
    </div>

    <div>
    Using Filter:
    <% if (!where_condition || _.size(where_condition) == 0) { %>
        row limit according to the "max-rows" configuration item
    <% } else { %>
        custom filter

        <form id="clear-where-filter-form" class="form-horizontal">
        <button type="submit" class="btn">Clear Filter</button>
        </form>
    <% } %>
    </div>

</div>


<h4>Data</h4>

<% if (items.length == 0) { %>
    <p>No Data Found</p>
<% } else { %>

<div class="pull-right"><a class="btn btn-small" id="csv_export" data-action="export-csv" href="#"><i class="icon-copy"/> Export CSV</a></div>

<% var columns = _.keys(items[0]); %>
<table class="table table-striped text-left">
  <thead>
    <tr>
    <% _.each(columns, function (column) { %>
      <th><%= column %></th>
    <% }) %>
    </tr>
  </thead>
  <tbody>
  <% _.each(items, function (row) { %>
    <tr>
    <% _.each(row, function (col) { %>
      <td><%= col %></td>
    <% }) %>
  <% }) %>
  </tbody>
</table>
<% } %>
