.iface-kind-radio-group {
    margin: 18px 0 0 72px;
}

.iface-kind-radio-button {
    width: 108px;
}

.iface-kind-select {
    margin: 24px 0 0 4px;
}

.iface-cell {
    font-size: 11px;
    padding: -8px;
}

.iface-list td {
    line-height: 10px;
}
