.sidebar {
    // 80px is header + footer
    height: calc(100vh);
    font-size: 14px;

    // Custom scrollbar
    .sidebarScroll {
        height: calc(100vh - 100px);
    }

    &.expanded {
        min-width: 220px !important;
        max-width: 220px !important;

        .sidebarItem {
            text-align: left;

            span.pt-icon-standard {
                margin-right: 10px;
            }

            .submenuExpand {
                margin-left: 10px;
            }
        }

        .sidebarSubItem {
            padding-left: 24px;
        }

        .sidebarFavorite {
            position: absolute;
            top: 9px;
            right: 10px;
        }
    }

    &:not(.expanded) {
        min-width: 50px !important;
        max-width: 50px !important;
        .sidebarItem {
            text-align: center;
        }
    }

    &.dark {
        background-color: $qore-dark;
        border-right: 1px solid darken($qore-dark, 2);
        color: #bfccd6;

        .sidebarSection {
            border-color: darken($qore-dark, 2);
        }

        .sidebarSubItem {
            background-color: lighten($qore-dark, 3);
            border-left: 5px solid #bfccd6;
        }

        .sidebarItem:hover {
            background-color: lighten($qore-dark, 7);
        }

        .sidebarSubItem.active,
        .sidebarItem.active {
            color: #fff;
            border-left-color: #fff;
            background-color: lighten($qore-dark, 5);
        }
    }

    &.light {
        background-color: #fff;
        border-right: 1px solid darken(#fff, 7);
        color: #555;

        .sidebarSection {
            border-color: darken(#fff, 7);
        }

        .sidebarSubItem {
            background-color: darken(#fff, 3);
            border-left: 5px solid #555;
        }

        .sidebarItem:hover {
            background-color: darken(#fff, 7);
        }

        .sidebarSubItem.active,
        .sidebarItem.active {
            color: $qore-purple;
            border-left-color: $qore-purple;
            background-color: darken(#fff, 5);
        }
    }

    // Section
    .sidebarSection {
        padding: 5px 0;

        border-top: 1px solid;

        .sidebarLink {
            display: inline-block;
            color: inherit;
            width: 100%;

            .pt-popover-target {
                width: 100%;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .sidebarItem {
            position: relative;

            span.pt-icon-standard:not(.sidebarFavorite) {
                display: inline-block;
                font-size: 16px;
            }

            padding: 12px;
        }

        .sidebarItem,
        .sidebarSubItem {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }
    }
}
