/**
* Wrapper for the tree view in the order detail data tab
*/

$padding: 5px;
$leftPadding: 20px;
$pseudoSizesAndPosTop: $padding + 12;
$pseudoSizesAndPosLeft: $leftPadding;
$leftMargin: 0px;

.tree-wrapper {
    span {
        &.data-control {
            display: inline-block;
        }
    }

    div.tree-key {
        padding: 5px 8px 5px 2px;
        font-weight: 600;

        &.object {
            font-weight: normal;
            padding-left: 8px;
            cursor: pointer;
            color: $qore-cobalt;
            background-color: lighten($qore-cobalt, 50);
            border-radius: 5px;

            &:hover {
                transition: all linear 0.2s;
                background-color: lighten($qore-cobalt, 45);
            }

            &.expanded {
                color: inherit;
                font-weight: 600;
                background-color: lighten($qore-cobalt, 35);
                border-bottom-left-radius: 0;
            }
        }

        display: inline-block;
    }

    div.tree-component {
        padding: $padding 0 0px $leftPadding;

        &:first-child {
            padding-top: 0;
        }

        &.tree-top {
            padding-left: 0px;
        }

        position: relative;
        word-break: break-all;

        &.nopad {
            padding-left: 0;
        }
    }

    div.tree-component:not(.last):not(.tree-top) {
        margin-left: $leftMargin;

        &:before {
            content: '';
            display: table;
            position: absolute;
            width: $pseudoSizesAndPosLeft;
            height: 1px;
            top: $pseudoSizesAndPosTop;
            left: 0;
        }
    }

    @for $i from 1 through 20 {
        div.tree-component:not(.last):not(.tree-top).level-#{$i} {
            border-left: 2px solid darken($bgcolor, $i * 5);

            &:before {
                border-top: 2px solid darken($bgcolor, $i * 5);
            }
        }

        div.tree-component:not(.tree-top).level-#{$i} {
            &.last {
                border-left: 2px solid darken($bgcolor, $i * 5);
            }

            .tree-key {
                span:not(.data-control):not(.pt-icon-standard).level-#{$i}:before {
                    border-top: 2px solid darken($bgcolor, $i * 5);
                }
            }
        }

        div.tree-component:not(.tree-top):last-of-type.level-#{$i}:after {
            border-left: 2px solid darken($bgcolor, $i * 5);
        }
    }

    div.tree-component:not(.tree-top) {
        &.last {
            margin-left: $leftMargin;
        }

        &.last .tree-key:last-child {
            border-left: 0;
        }

        .tree-key {
            span:not(.data-control):not(.pt-icon-standard):before {
                content: '';
                display: table;
                position: absolute;
                width: $pseudoSizesAndPosLeft;
                height: 1px;
                top: $pseudoSizesAndPosTop;
                left: 0;
            }
        }
    }

    div.tree-component:not(.tree-top):last-of-type {
        border-left: 0 !important;
        margin-left: 2px;

        &:after {
            content: '';
            display: table;
            position: absolute;
            width: 1px;
            height: $pseudoSizesAndPosTop + 2;
            left: -2px;
            top: 0;
        }
    }
}
