$margin: 24px;

.config-type-radio-group {
    margin: 18px 0 0 72px;
}

.config-container {
    @extend .flex-start;
    margin: -$margin;
    padding: -$margin;
}

.config-item {
    margin: $margin;
}
